

body{
    margin-top: 149px;
    background-color: transparent;
}
html { 

background: #fff; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
.game-header{
    background: rgba(0, 0, 0, 1);

    border-bottom: 4px solid red;


}

.game-header-info label:hover{

 margin-right: 5px;
 margin-left: 5px;
 color: darkred;
 font-size: 14px;
}
.game-footer{
    background: rgba(0, 0, 0, 0.9);
    padding-top: 10px;
    border-top: 4px solid red;


}
.game-footer-text{
    color: white;

}
.game-footer-image{
    
    height: 40px;


}
.game-logo{
    margin-top: 14px;
    margin-bottom: 2px;
    margin-left: 0px;
    height: auto;
    z-index: 1;
 
}



.game-image{
    background-color: white;
    border: black 5px solid;
    width: 70%;
    margin-top: 12px;
    box-shadow: 0 5px 20px 0 rgba(0,0,0 ,0.9);
    height: 435px;


}



.game-table{
    font-size: 8px;    
    text-align: center;
    margin-top: -8px;
    margin-bottom: -4px;
}
.game-table th{
    text-align: center;
    background-color: black;
    font-size: 8px;
    color: white;

}

.game-table td{
font-weight: bold;
font-size: 8px;
}


    .dropdowns{
        padding-left: 184px;
    }
    .nav{
        margin-bottom: -40px !important;
    }
    .game-text{
        text-align: center;
        height: 53px;
    }
    .game-table-content{
        height: 50px;
    }
    .game-image-div{
        height: 300px;
    }
    .vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
    
    }
    .game-header-info label{
    margin-right: 5px;
    margin-left: 5px;
     font-size: 14px;
    color: white;
    }
    .game-banner{
    padding: 0;

    
}
.game-search-container{
    margin-top: 9%;
    
}

.filters
{
    color: white;
    position:fixed;
    margin-top: 1%;
 
    z-index: 1;

}
.filters p
{
background-color:black;
border: white 1px solid;
}

    .game-search-icon{
        width:24px; 
        height:27px;
    }
    .nav a {
        color: white;
        margin: 0px;
    }
    .game-header-info {


    }
    .search-stock-label{
        border: black 1px solid;
        margin-bottom: 2px;
    }



    .dropdowns{
        padding-left: 0px;
    }
    .nav{
        margin-bottom: -0px;
    }
    .game-search-icon {
        position: absolute;
        top: 4px;
        right: 4px;
        width: 20px;
        height: 20px;
        z-index: 1;

    }
    .close-menu {
        position: absolute;
        top: 4px;
        right: 4px;
        width: 20px;
        height: 20px;
        z-index: 1;

    }
    .open-menu{
        position: absolute;
        top: 4px;
        right: 4px; 
        width: 20px;
        height: 20px;
        z-index: 1;


    }


    body{
    margin-top: 256px;
    background-color: transparent;

    }
    .game-front{
        margin-top: 15px;
    }

    .game-header-info label{
        margin-top: 3px;

         font-size: 14px;
        color: white;
    }
    .game-table{
       font-size: 16px;
       margin-bottom: -4px;

    }
    .game-text{
        height: auto;
    }
    .game-text h4{
        font-weight: bold;
        font-size: 16px;
    }
    .game-table-content{
    height: auto;
    }


.game-table th{
   background-color: black;
   font-size: 11px;
   color: white;
}
.game-table-title{
   font-weight: bold;
   font-size: 14px;
   color: black;
    height: 45px;
    line-height: 1.5;
    margin-top: 3px;
}
.game-table td{
font-weight: bold;
font-size: 14px;
}


.search-text{
  
    padding: 3px;
    border-radius: 5px;

    font-size: 16px;
    color: black;
    font-weight: bold;

}
.search-action {
    background-color: black; 
    height: 25px;
    text-align: center;
 
}

.search-precios {
    background-color: white;
    height: 31px;
    text-align: center;
 
}

.search-action-label{

    color: white;
    text-align: center;
    font-size: 14px;
    
 
}

.search-precios-label{
    text-align: center;
    font-size: 14px;
  
 
}
.search-front{
    background-color: white;
    border: #E3D9D9 3px solid;
    font-family: Fjalla;
    margin-top: 12px;
    padding-bottom: 10px;
    padding-top: 10px;
    box-shadow: 0 5px 7px 0 rgba(0,0,0,1);
    transition: 0.3s;
    border-radius: 5px;



}
.search-title{
    font-size: 18px;
    font-weight: bold;
    color: black;
}
.search-text{
    font-size: 15px;
    font-weight: lighter;
}
.search-price{
    font-size: 16px;
    font-weight: lighter;
    color: red;
}
.search-green{
    font-size: 15px;
    font-weight: lighter;
    color: green;
}
.search-red{
    font-size: 15px;
    font-weight: lighter;
    color: red;
}
/*
.search-console-xbox{
    background-color: #107c10;
    text-align: center;
    border: 1px black solid;
}
.search-console-N64{
    background-color: #107c10;
    text-align: center;
    border: 1px black solid;
}
.search-console-PS4{
    background-color:#003a80;
    text-align: center;
    border: 1px black solid;
}
.search-console-PS3{
    background-color:#003a80;
    text-align: center;
    border: 1px black solid;
}
.search-console-PS2{
    background-color:#003a80;
    text-align: center;
    border: 1px black solid;
}
.search-console-PS1{
    background-color:#003a80;
    text-align: center;
    border: 1px black solid;
}

.search-console-WIIU{
    background-color:#0096c8;
    text-align: center;
    border: 1px black solid;
}
.search-console-WII{
    background-color:#0096c8;
    text-align: center;
    border: 1px black solid;
}
.search-console-SNES{
    background-color:#3c8d88;
    text-align: center;
    border: 1px black solid;
}
.search-console-NES{
    background-color:#3c8d88;
    text-align: center;
    border: 1px black solid;
}
.search-console-GBA{
    background-color:#551A8B;
    text-align: center;
    border: 1px black solid;
}
.search-console-GameCube{
    background-color:#551A8B;
    text-align: center;
    border: 1px black solid;
}
.search-console-GBC{
    background-color:#FF0000;
    text-align: center;
    border: 1px black solid;
}

.search-console-xbox label{
    font-size: 14px;
    color: white;

}
.search-console-SNES label{
    font-size: 14px;
    color: white;

}
.search-console-NES label{
    font-size: 14px;
    color: white;

}
.search-console-N64 label{
    font-size: 14px;
    color: white;

}
.search-console-WII label{
    font-size: 14px;
    color: white;

}
.search-console-PS4 label{
    font-size: 14px;
    color: white;

}
.search-console-PS3 label{
    font-size: 14px;
    color: white;

}
.search-console-PS2 label{
    font-size: 14px;
    color: white;

}
.search-console-PS1 label{
    font-size: 14px;
    color: white;

}
.search-console-WIIU label{
    font-size: 14px;
    color: white;

}
.search-console-GBA label{
    font-size: 14px;
    color: white;
}
.search-console-GameCube label{
    font-size: 14px;
    color: white;
}
.search-console-GBC label{
    font-size: 14px;
    color: white;
}*/
.search-image{
    border: black 3px solid;
    max-height: 195px;
}
.game-content{

    width: 80%;
    margin-left: 10%;
    margin-right: 10%;


 
}



.game-search {

   
}
.game-search input{
    height: 30px;
    width: 103%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
.game-search input:focus {

}


.carousel-fade {
    .carousel-inner {
        .item {
            transition-property: opacity;
        }
        
        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }

    .carousel-control {
        z-index: 2;
    }

}
}



html, 
body, 
.carousel, 
.carousel-inner, 
.carousel-inner .item {
    height: 100%;

}



.game-slider{
    padding: 0;
    width: 100%;
  
}
.game-bimage{
     width: 100%;
}
.game-control{
     position: relative;
    top: 50%;
    transform: translateY(-50%); /* or try 50% */
}
.carousel-indicators li {
    background: #ccc;
    height: 25px;
    width: 15px;
}

.carousel-indicators .active {
    background: red;
    height: 25px;
    width: 15px;

}





/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Bree+Serif);

body {

	line-height: 32px;
	margin: 0;
	padding: 0;
	word-wrap:break-word !important;
	font-family: 'Open Sans', sans-serif;
	}



#container {
	margin: 0 auto;
	max-width: 890px;
}

p {
	text-align: center;
}

.toggle,
[id^=drop] {
	display: none;
}

/* Giving a background-color to the nav container. */
nav { 
	margin:0;
	padding: 0;
	background-color: #254441;
    position: relative;
    z-index: 2;
}

#logo {
	display: block;
	padding: 0 30px;
	float: left;
	font-size:20px;
	line-height: 60px;
}

/* Since we'll have the "ul li" "float:left"
 * we need to add a clear after the container. */

nav:after {
	content:"";
	display:table;
	clear:both;
}

/* Removing padding, margin and "list-style" from the "ul",
 * and adding "position:reltive" */
nav ul {
	float: left;
    margin-right: 10%;
	padding:0;
	margin:0;
	list-style: none;
	position: relative;
	}
	
/* Positioning the navigation items inline */
nav ul li {
	margin: 0px;
	display:inline-block;
	float: left;
	background-color: #254441;
	}

/* Styling the links */
nav a {
	display:block;
	padding:14px 20px;	
	color:#FFF;
	font-size:17px;
	text-decoration:none;
}


nav ul li ul li:hover { background: #000000; }

/* Background color change on Hover */
nav a:hover { 
	background-color: darkred; 
}

/* Hide Dropdowns by Default
 * and giving it a position of absolute */
nav ul ul {
	display: none;
	position: absolute; 
	/* has to be the same number as the "line-height" of "nav a" */
	top: 60px; 
}
	
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:inherit;
}
	
/* Fisrt Tier Dropdown */
nav ul ul li {
	width:170px;
	float:none;
	display:list-item;
	position: relative;
}

/* Second, Third and more Tiers	
 * We move the 2nd and 3rd etc tier dropdowns to the left
 * by the amount of the width of the first tier.
*/
nav ul ul ul li {
	position: relative;
	top:-60px;
	/* has to be the same number as the "width" of "nav ul ul li" */ 
	left:170px; 
}

	
/* Change ' +' in order to change the Dropdown symbol */
li > a:after { content:  ' +'; }
li > a:only-child:after { content: ''; }


/* Media Queries
--------------------------------------------- */
.game-detail-front{
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    margin-top: 124px;
    margin-bottom: 90px;
}
.game-detail-image{
    margin-top: 30px;
    height: 300px;
}
.game-detail-title{
    margin-top: 30px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.game-detail-content{
    background-color: white;
    border: #E3D9D9 3px solid;
    margin-top: 12px;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,0.9);
    height: auto;
    padding-bottom: 20px;


}
.game-detail-body{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    margin-top: 20px;
    height: 120px;
    font-size: 20px;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;



}
.game-index-kind{
    margin-top:8px;
    margin-bottom:5px;
   font-weight: bold;
   font-size: 18px;
    background-color: black;
    border: darkred 3px solid;
    color: white;

}
.game-index-container{
    margin-top:18px;
    min-height: 529px;
    max-height: 529px;
    margin-bottom: -164px;
}
.game-index-imgcontainer{

}
.game-index-image{
    height:auto; width:auto;

     min-height: 243;
    max-height: 243;
}
.game-index-front{
    background-color: white;
    border: #E3D9D9 3px solid;

    box-shadow: 0 5px 20px 0 rgba(0,0,0,0.9);
   
}

@media only screen and (max-width: 500px) {
.search-image{
    border: black 3px solid;
    max-height: 195px;
    margin-bottom: 5px;
}
.game-index-container{
    margin-top:10px;
    min-height: 529px;
    max-height: 529px;
    margin-bottom: -164px;
}
.game-index-imgcontainer{
    height:40%;

}
.game-index-image{
    height:100%; width:auto;
     min-height: 200px;
 
}
.game-index-front{
    background-color: white;
    border: black 5px solid;

    box-shadow: 0 5px 20px 0 rgba(0,0,0,0.9);
   
}

    .game-header-info label{

        font-size: 16px;
        color: white;
    }

    .game-logo{
    margin-top: 14px;


    }
    .game-banner{


    position: relative;    
    }
    .loadscreen{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color:rgba(0,0,0,0.9);
    z-index: 15;
    
}

#loading {
    position: absolute;
    top: 50%;
    margin-right: 35%;
    margin-left: 35%;
    height:auto;
    width:30%;
}
#loadingsvg {

    position: absolute;
    top: 59%;
    margin-right: 47%;
    margin-left: 47%;
    height:auto;
    width:6%;
}
}

*{margin:0;padding:0;text-decoration:none}
header{position:relative;width:100%;background:rgba(0,0,0,0.9);}
.logo{position:relative;z-index:123;padding:10px;font:22px verdana;color:#333;float:left;width:15%}
.logo a{color:#6DDB07;}
nav{position:relative;width:980px;margin:0 auto;}
#cssmenu,#cssmenu ul,#cssmenu ul li,#cssmenu ul li a,#cssmenu #head-mobile{border:0;list-style:none;line-height:1;display:block;position:relative;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
#cssmenu:after,#cssmenu > ul:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}
#cssmenu #head-mobile{display:none}
#cssmenu{font-family:sans-serif;background-color:rgba(0,0,0,0.9);    margin-left: 0;padding: 6px; padding-bottom: 10px; }
#cssmenu > ul > li{float:left;background-color: rgba(0,0,0,0.9);}
#cssmenu > ul > li > a{padding:17px;font-size:17px !important;letter-spacing:1px;text-decoration:none;color:#ddd;font-weight:700;}
#cssmenu > ul > li:hover > a,#cssmenu ul li.active a{color:#fff;font-size: 15px !important;}
#cssmenu > ul > li:hover,#cssmenu ul li.active:hover,#cssmenu ul li.active,#cssmenu ul li.has-sub.active:hover{background:darkred!important;-webkit-transition:background .3s ease;-ms-transition:background .3s ease;transition:background .3s ease;}
#cssmenu > ul > li.has-sub > a{padding-right:30px;padding-top: 10px; padding-bottom: 10px; font-size: 12px;}
#cssmenu > ul > li.has-sub > a:after{position:absolute;top:12.1px;right:11px;width:8px;height:2px;display:block;background:#ddd;content:''}
#cssmenu > ul > li.has-sub > a:before{position:absolute;top:9px;right:14px;display:block;width:2px;height:8px;background:#ddd;content:'';-webkit-transition:all .25s ease;-ms-transition:all .25s ease;transition:all .25s ease}
#cssmenu > ul > li.has-sub:hover > a:before{top:23px;height:0}
#cssmenu ul ul{position:absolute;left:-9999px;margin-top: -29px;}
#cssmenu ul ul li{height:0;-webkit-transition:all .25s ease;-ms-transition:all .25s ease;background:rgba(0,0,0,0.9);transition:all .25s ease}
#cssmenu li:hover > ul{left:auto}
#cssmenu li:hover > ul > li{height:35px}
#cssmenu ul ul ul{margin-top: 0px;}
#cssmenu ul ul li a{font-size: 15px !important; border-bottom:1px solid rgba(150,150,150,0.15);padding:11px 15px;width:170px;font-size:16px;text-decoration:none;color:#ddd;font-weight:400;}
#cssmenu ul ul li:last-child > a,#cssmenu ul ul li.last-item > a{border-bottom:0}
#cssmenu ul ul li:hover > a,#cssmenu ul ul li a:hover{color:#fff}
#cssmenu ul ul li.has-sub > a:after{position:absolute;top:16px;right:11px;width:8px;height:2px;display:block;background:#ddd;content:''}
#cssmenu ul ul li.has-sub > a:before{position:absolute;top:13px;right:14px;display:block;width:2px;height:8px;background:#ddd;content:'';-webkit-transition:all .25s ease;-ms-transition:all .25s ease;transition:all .25s ease}
#cssmenu ul ul > li.has-sub:hover > a:before{top:17px;height:0}
#cssmenu ul ul li.has-sub:hover,#cssmenu ul li.has-sub ul li.has-sub ul li:hover{background-color: darkred;}
#cssmenu ul ul ul li.active a{border-left:1px solid rgba(0,0,0,0.9)}
#cssmenu > ul > li.has-sub > ul > li.active > a,#cssmenu > ul ul > li.has-sub > ul > li.active> a{border-top:1px solid rgba(0,0,0,0.9)}

@media screen and (max-width:1000px){
nav ul ul{
    top:0;
    z-index: 1;
}
.logo{position:absolute;top:0;left: 0;width:100%;height:46px;text-align:center;padding:10px 0 0 0 ;float:none}
.logo2{display:none}
nav{width:100%;}
#cssmenu{width:100%;}
#cssmenu ul{width:100%;display:none}
#cssmenu ul li{width:100%;border-top:1px solid #444}
#cssmenu ul li:hover{background:rgba(0,0,0,0.9);}
#cssmenu ul ul li,#cssmenu li:hover > ul > li{height:auto}
#cssmenu ul li a,#cssmenu ul ul li a{width:100%;border-bottom:0}
#cssmenu > ul > li{float:none}
#cssmenu ul ul li a{padding-left:25px;font-size: 14px;}
#cssmenu ul ul li{background:rgba(0,0,0,0.9)!important;}
#cssmenu ul ul li:hover{background:rgba(0,0,0,0.9)!important}
#cssmenu ul ul ul li a{padding-left:35px;font-size: 14px;}
#cssmenu ul ul li a{color:#ddd;background:none}
#cssmenu ul ul li:hover > a,#cssmenu ul ul li.active > a{color:#fff}
#cssmenu ul ul,#cssmenu ul ul ul{position:relative;left:0;width:100%;margin:0;text-align:left}
#cssmenu > ul > li.has-sub > a:after,#cssmenu > ul > li.has-sub > a:before,#cssmenu ul ul > li.has-sub > a:after,#cssmenu ul ul > li.has-sub > a:before{display:none}
#cssmenu #head-mobile{display:block;padding:23px;color:#ddd;font-size:12px;font-weight:700}
.button{width:55px;height:46px;position:absolute;right:0;top:0;cursor:pointer;z-index: 12399994;}
.button:after{position:absolute;top:22px;right:20px;display:block;height:4px;width:20px;border-top:2px solid #dddddd;border-bottom:2px solid #dddddd;content:''}
.button:before{-webkit-transition:all .3s ease;-ms-transition:all .3s ease;transition:all .3s ease;position:absolute;top:16px;right:20px;display:block;height:2px;width:20px;background:#ddd;content:''}
.button.menu-opened:after{-webkit-transition:all .3s ease;-ms-transition:all .3s ease;transition:all .3s ease;top:23px;border:0;height:2px;width:19px;background:#fff;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg)}
.button.menu-opened:before{top:23px;background:#fff;width:19px;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg)}
#cssmenu .submenu-button{position:absolute;z-index:99;right:0;top:0;display:block;border-left:1px solid #444;height:46px;width:46px;cursor:pointer}
#cssmenu .submenu-button.submenu-opened{background:#262626}
#cssmenu ul ul .submenu-button{height:34px;width:34px}
#cssmenu .submenu-button:after{position:absolute;top:22px;right:19px;width:8px;height:2px;display:block;background:#ddd;content:''}
#cssmenu ul ul .submenu-button:after{top:15px;right:13px}
#cssmenu .submenu-button.submenu-opened:after{background:#fff}
#cssmenu .submenu-button:before{position:absolute;top:19px;right:22px;display:block;width:2px;height:8px;background:#ddd;content:''}
#cssmenu ul ul .submenu-button:before{top:12px;right:16px}
#cssmenu .submenu-button.submenu-opened:before{display:none}
#cssmenu ul ul ul li.active a{border-left:none}
#cssmenu > ul > li.has-sub > ul > li.active > a,#cssmenu > ul ul > li.has-sub > ul > li.active > a{border-top:none}
    

}

.loadscreen{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color:rgba(0,0,0,0.9);
    z-index: 15;
    
}

#loading {
    position: absolute;
    top: 50%;
    margin-right: 45%;
    margin-left: 45%;
    height:auto;
    width:10%;
}
#loadingsvg {

    position: absolute;
    top: 59%;
    margin-right: 47%;
    margin-left: 47%;
    height:auto;
    width:6%;
}


/*
  Set the color of the icon
*/
svg path,
svg rect{
  fill: #FF6700;
}
.game-search-btn{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: darkred;
    color: white;
    border: 3px solid black;
    padding-bottom: 3px; 
    padding-top: 3px;
    padding-left: 12px; 
    padding-right: 12px; 
    border-radius: 3px;
}

.game-search-btn:hover{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: black;
    color: white;
    border: 3px solid darkred;
    padding: 3px; 
    padding-bottom: 3px; 
    padding-top: 3px;
    padding-left: 12px; 
    padding-right: 12px; 
    border-radius: 3px;
}

#modalBody{
    font-size: 18px;
}

#modalHead{
    text-align: center;
}

.menu-main-label{
    color: white;
    font-size: 18px;
    margin-top: 3px;
}

.footer-detail {
  position: absolute;
  bottom: 0;
  right: 0;
}


.game-related-container{
    margin-top:5px;
}
.game-related{
    background-color: white;
    border: black 2px solid;

    box-shadow: 0 3px 15px 0 rgba(0,0,0,0.9);  
}


.cursor{
    cursor:pointer;
}


@font-face {
    font-family: Fjalla;
    src: url(../fonts/FjallaOne-Regular.otf);
}




