

body{
    margin-top: 149px;
    background-color: transparent;
}
html { 

background: url(../assets/b13.jpg) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
.game-header{
    background: rgba(0, 0, 0, 0.9);
    padding-bottom: 10px;
    border-bottom: 4px solid red;


}
.game-header-info label{
    margin-top: 3px;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 16px;
    color: white;
}
.game-header-info label:hover{

 margin-right: 5px;
 margin-left: 5px;
 color: darkred;
}
.game-footer{
    background: rgba(0, 0, 0, 0.9);
    padding-top: 10px;
    border-top: 4px solid red;


}
.game-footer-text{
    color: white;

}
.game-footer-image{
    
    height: 40px;


}
.game-logo{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
 
}
.test
{
    color: white;
    background-color:darkred;
    position:fixed;
    top: 120px;
    z-index: 1;
}
.game-text{
    text-align: center;
}
.game-action{
    background-color: black;
    margin-left: -25px;
    width: 121%;
    height: 40px;
 
}

.game-action-label{

    color: white;
    text-align: center;
    
 
}

.game-precios-label{


    text-align: center;
    
 
}
.game-image{
    background-color: white;
    border: black 5px solid;
    width: 70%;
    margin-top: 12px;
    box-shadow: 0 5px 20px 0 rgba(255,255,255,0.9);


}

.game-action{
    background-color: black;
    margin-left: -25px;
    width: 121%;
    height: 40px;
 
}
.game-table{
    font-size: 14px;    
    text-align: center;
    margin-top: -8px;
    margin-bottom: -4px;
}
.game-table th{
    text-align: center;

}
@media only screen and (min-width: 1150px) {
    .game-table{
       font-size: 11px;

    }
}
@media only screen and (max-width: 600px) {
    .game-table{
        margin-left: -6px;
    }
    body{
    margin-top: 180px;
    background-color: transparent;
    }

}
@media only screen and (min-width: 400px)   {
    body{
    margin-top: 256px;
    background-color: transparent;
    }
    .game-table{
       font-size: 16px;
       margin-bottom: -4px;

    }
    .game-image{
    background-color: white;
    border: black 5px solid;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 12px;
    box-shadow: 0 5px 20px 0 rgba(255,255,255,0.9);
    height: 1220px;

}
    .game-image img{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 1000px;

}
}
.game-table th{
   background-color: black;
   font-size: 40px;
   color: white;
}
.game-table td{
font-weight: bold;
font-size: 40px;
}
.game-text h4{
    font-weight: bold;
    font-size: 40px;
}
.search-text{
    background-color: black;
    padding: 3px;
    border-radius: 5px;
    text-align: center;
    font-size: 27px;
    color: white;
    text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;

}
.search-action{
    background-color: black; 
    height: 40px;
 
}

.search-action-label{

    color: white;
    text-align: center;
    
 
}

.search-precios-label{


    text-align: center;
    
 
}
.search-front{
    background-color: gray;
    border: black 4px solid;

    margin-top: 12px;
    height: 240px;
    padding: 2px;
    box-shadow: 0 10px 15px 0 rgba(255,0,0,0.7);
    transition: 0.3s;
    border-radius: 5px;
    padding: 5px;


}
.search-image{
    border: black 3px solid;


    height: 100%;
}
.game-content{

    width: 80%;
    margin-left: 10%;
    margin-right: 10%;


 
}




*{margin:0;padding:0;text-decoration:none}
body{}
header{position:relative;width:100%;background:#333;}
.logo{position:relative;z-index:123;padding:10px;font:18px verdana;color:red;float:left;width:15%}
.logo a{color:darkred;}
nav{position:relative;width:980px;margin:0 auto; }
#cssmenu,#cssmenu ul,#cssmenu ul li,#cssmenu ul li a,#cssmenu #head-mobile{border:0;list-style:none;line-height:1;display:block;position:relative;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
#cssmenu:after,#cssmenu > ul:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}
#cssmenu #head-mobile{display:none}
#cssmenu{font-family:sans-serif;background: rgba(0, 0, 0, 0.1); z-index: 1;}
#cssmenu > ul > li{float:left}
#cssmenu > ul > li > a{padding:17px;font-size:12px;letter-spacing:1px;text-decoration:none;color:#ddd;font-weight:700;}
#cssmenu > ul > li:hover > a,#cssmenu ul li.active a{color:#fff}
#cssmenu > ul > li:hover,#cssmenu ul li.active:hover,#cssmenu ul li.active,#cssmenu ul li.has-sub.active:hover{background:darkred!important;-webkit-transition:background .3s ease;-ms-transition:background .3s ease;transition:background .3s ease;}
#cssmenu > ul > li.has-sub > a{padding-right:30px}
#cssmenu > ul > li.has-sub > a:after{position:absolute;top:22px;right:11px;width:8px;height:2px;display:block;background:#ddd;content:''}
#cssmenu > ul > li.has-sub > a:before{position:absolute;top:19px;right:14px;display:block;width:2px;height:8px;background:#ddd;content:'';-webkit-transition:all .25s ease;-ms-transition:all .25s ease;transition:all .25s ease}
#cssmenu > ul > li.has-sub:hover > a:before{top:23px;height:0}
#cssmenu ul ul{position:absolute;left:-9999px}
#cssmenu ul ul li{height:0;-webkit-transition:all .25s ease;-ms-transition:all .25s ease;background:#333;transition:all .25s ease}
#cssmenu ul ul li:hover{}
#cssmenu li:hover > ul{left:auto}
#cssmenu li:hover > ul > li{height:35px}
#cssmenu ul ul ul{margin-left:100%;top:0}
#cssmenu ul ul li a{border-bottom:1px solid rgba(150,150,150,0.15);padding:11px 15px;width:170px;font-size:12px;text-decoration:none;color:#ddd;font-weight:400;}
#cssmenu ul ul li:last-child > a,#cssmenu ul ul li.last-item > a{border-bottom:0}
#cssmenu ul ul li:hover > a,#cssmenu ul ul li a:hover{color:#fff}
#cssmenu ul ul li.has-sub > a:after{position:absolute;top:16px;right:11px;width:8px;height:2px;display:block;background:#ddd;content:''}
#cssmenu ul ul li.has-sub > a:before{position:absolute;top:13px;right:14px;display:block;width:2px;height:8px;background:#ddd;content:'';-webkit-transition:all .25s ease;-ms-transition:all .25s ease;transition:all .25s ease}
#cssmenu ul ul > li.has-sub:hover > a:before{top:17px;height:0}
#cssmenu ul ul li.has-sub:hover,#cssmenu ul li.has-sub ul li.has-sub ul li:hover{background:#363636;}
#cssmenu ul ul ul li.active a{border-left:1px solid #333}
#cssmenu > ul > li.has-sub > ul > li.active > a,#cssmenu > ul ul > li.has-sub > ul > li.active> a{border-top:1px solid #333}

@media screen and (min-width: 400px)  and (max-width: 1000px) {
.logo{position:absolute;top:0;left: 0;width:100%;height:46px;text-align:center;padding:10px 0 0 0 ;float:none}
.logo2{display:none}
nav{width:100%;}
#cssmenu{width:100%}
#cssmenu ul{width:100%;display:none}
#cssmenu ul li{width:100%;border-top:1px solid #444}
#cssmenu ul li:hover{background:#363636;}
#cssmenu ul ul li,#cssmenu li:hover > ul > li{height:auto}
#cssmenu ul li a,#cssmenu ul ul li a{width:100%;border-bottom:0}
#cssmenu > ul > li{float:none}
#cssmenu ul ul li a{padding-left:25px}
#cssmenu ul ul li{background:#333!important;}
#cssmenu ul ul li:hover{background:#363636!important}
#cssmenu ul ul ul li a{padding-left:35px}
#cssmenu ul ul li a{color:#ddd;background:none}
#cssmenu ul ul li:hover > a,#cssmenu ul ul li.active > a{color:#fff}
#cssmenu ul ul,#cssmenu ul ul ul{position:relative;left:0;width:100%;margin:0;text-align:left}
#cssmenu > ul > li.has-sub > a:after,#cssmenu > ul > li.has-sub > a:before,#cssmenu ul ul > li.has-sub > a:after,#cssmenu ul ul > li.has-sub > a:before{display:none}
#cssmenu #head-mobile{display:block;padding:23px;color:#ddd;font-size:30px;font-weight:700}
.button{width:55px;height:46px;position:absolute;right:0;top:0;cursor:pointer;z-index: 12399994;}
.button:after{position:absolute;top:22px;right:20px;display:block;height:8px;width:40px;border-top:2 px solid #dddddd;border-bottom:2px solid #dddddd;content:''}
.button:before{-webkit-transition:all .3s ease;-ms-transition:all .3s ease;transition:all .3s ease;position:absolute;top:16px;right:20px;display:block;height:8px;width:40px;background:#ddd;content:''}
.button.menu-opened:after{-webkit-transition:all .3s ease;-ms-transition:all .3s ease;transition:all .3s ease;top:23px;border:0;height:2px;width:19px;background:#fff;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg)}
.button.menu-opened:before{top:23px;background:#fff;width:19px;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg)}
#cssmenu .submenu-button{position:absolute;z-index:99;right:0;top:0;display:block;border-left:1px solid #444;height:46px;width:46px;cursor:pointer}
#cssmenu .submenu-button.submenu-opened{background:#262626}
#cssmenu ul ul .submenu-button{height:34px;width:34px}
#cssmenu .submenu-button:after{position:absolute;top:22px;right:19px;width:8px;height:2px;display:block;background:#ddd;content:''}
#cssmenu ul ul .submenu-button:after{top:15px;right:13px}
#cssmenu .submenu-button.submenu-opened:after{background:#fff}
#cssmenu .submenu-button:before{position:absolute;top:19px;right:22px;display:block;width:2px;height:8px;background:#ddd;content:''}
#cssmenu ul ul .submenu-button:before{top:12px;right:16px}
#cssmenu .submenu-button.submenu-opened:before{display:none}
#cssmenu ul ul ul li.active a{border-left:none}
#cssmenu > ul > li.has-sub > ul > li.active > a,#cssmenu > ul ul > li.has-sub > ul > li.active > a{border-top:none}
#cssmenu  a{font-size: 47px !important;}
}
.game-search {

   
}
.game-search input{
    width: 103%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
.game-search input:focus {

}
.pacman{
width: 10%;
width: 40px;
height: 40px;
}
.ghostw{
width: 10%;
width: 40px;
height: 40px;
}

.carousel-fade {
    .carousel-inner {
        .item {
            transition-property: opacity;
        }
        
        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }

    .carousel-control {
        z-index: 2;
    }

}
}



html, 
body, 
.carousel, 
.carousel-inner, 
.carousel-inner .item {
    height: 100%;

}


.game-banner{
    padding: 0;
    display: block;
    overflow: auto;
    z-index: 2;
  
}
.game-slider{
    padding: 0;
    width: 100%;
  
}
.game-bimage{
     width: 100%;
}
.game-control{
     position: relative;
    top: 50%;
    transform: translateY(-50%); /* or try 50% */
}
.carousel-indicators li {
    background: #ccc;
    height: 25px;
    width: 15px;
}

.carousel-indicators .active {
    background: red;
    height: 25px;
    width: 15px;

}