

body{
    margin-top: 149px;
    background-color: transparent;
}
html { 

background: #fff; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
.game-header{
    background: rgba(0, 0, 0, 1);

    border-bottom: 4px solid red;


}

.game-header-info label:hover{

 margin-right: 5px;
 margin-left: 5px;
 color: darkred;
 font-size: 14px;
}

.game-menu-container{
    margin-top: 42px;
}
.game-footer{
    background: rgba(0, 0, 0, 0.9);
    padding-top: 10px;
    border-top: 4px solid red;


}
.game-footer-text{
    color: white;

}
.game-footer-image{
    
    height: 40px;


}
.game-logo{
    margin-top: 14px;
    margin-bottom: 2px;
    margin-left: 0px;
    height: auto;
    z-index: 1;
 
}



.game-image{
    background-color: white;
    border: black 5px solid;
    width: 70%;
    margin-top: 12px;
    box-shadow: 0 5px 20px 0 rgba(0,0,0 ,0.9);
    height: 435px;


}



.game-table{
    font-size: 8px;    
    text-align: center;
    margin-top: -8px;
    margin-bottom: -4px;
}
.game-table th{
    text-align: center;
    background-color: black;
    font-size: 8px;
    color: white;

}

.game-table td{
font-weight: bold;
font-size: 8px;
}


    .dropdowns{
        padding-left: 184px;
    }
    .nav{
        margin-bottom: -40px !important;
    }
    .game-text{
        text-align: center;
        height: 53px;
    }
    .game-table-content{
        height: 50px;
    }
    .game-image-div{
        height: 300px;
    }
    .vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
    
    }
    .game-header-info label{
    margin-right: 5px;
    margin-left: 5px;
     font-size: 14px;
    color: white;
    }
    .game-banner{
    padding: 0;

    
}
.game-search-container{
    margin-top: 9%;
    
}
.margin-search{
    margin-top: -47px;
}

.filters
{
    color: white;
    position:fixed;
    margin-top: 1%;
 
    z-index: 1;

}
.filters p
{
background-color:black;
border: white 1px solid;
}

    .game-search-icon{
        width:24px; 
        height:27px;
    }
    .nav a {
        color: white;
        margin: 0px;
    }
    .game-header-info {


    }
    .search-stock-label{
        border: black 1px solid;
        margin-bottom: 2px;
    }



    .dropdowns{
        padding-left: 0px;
    }
    .nav{
        margin-bottom: -0px;
    }
    .game-search-icon {
        position: absolute;
        top: 4px;
        right: 4px;
        width: 20px;
        height: 20px;
        z-index: 1;

    }
    .close-menu {
        position: absolute;
        top: 4px;
        right: 4px;
        width: 20px;
        height: 20px;
        z-index: 1;

    }
    .open-menu{
        position: absolute;
        top: 4px;
        right: 4px; 
        width: 20px;
        height: 20px;
        z-index: 1;


    }


    body{
    margin-top: 256px;
    background-color: transparent;

    }
    .game-front{
        margin-top: 15px;
    }

    .game-header-info label{
        margin-top: 3px;

         font-size: 14px;
        color: white;
    }
    .game-table{
       font-size: 16px;
       margin-bottom: -4px;

    }
    .game-text{
        height: auto;
    }
    .game-text h4{
        font-weight: bold;
        font-size: 16px;
    }
    .game-table-content{
    height: auto;
    }


.game-table th{
   background-color: black;
   font-size: 11px;
   color: white;
}
.game-table-title{
   font-weight: bold;
   font-size: 14px;
   color: black;
    height: 45px;
    line-height: 1.5;
    margin-top: 3px;
}
.game-table td{
font-weight: bold;
font-size: 14px;
}


.search-text{
  
    padding: 3px;
    border-radius: 5px;

    font-size: 16px;
    color: black;
    font-weight: bold;

}
.search-action {
    background-color: black; 
    height: 25px;
    text-align: center;
 
}

.search-precios {
    background-color: white;
    height: 31px;
    text-align: center;
 
}

.search-action-label{

    color: white;
    text-align: center;
    font-size: 14px;
    
 
}

.search-precios-label{
    text-align: center;
    font-size: 14px;
  
 
}
.search-front{
    background-color: white;
    border: #E3D9D9 3px solid;
    font-family: Fjalla;
    margin-top: 12px;
    padding-bottom: 10px;
    padding-top: 10px;
    box-shadow: 0 5px 7px 0 rgba(0,0,0,1);
    transition: 0.3s;
    border-radius: 5px;



}
.search-title{
    font-size: 19px;
    font-weight: bold;
    color: black;
}
.search-text{
    font-size: 14px;
    font-weight: lighter;
}
.search-price{
    font-size: 19px;
    font-weight: lighter;
    color: red;
}
.search-green{
    font-size: 15px;
    font-weight: lighter;
    color: green;
}
.search-red{
    font-size: 15px;
    font-weight: lighter;
    color: red;
}

.search-detail-title{
    font-size: 22px;
    font-weight: bold;
    color: black;
}
.search-detail-text{
    font-size: 17px;
    font-weight: lighter;
}
.search-detail-price{
    font-size: 22px;
    font-weight: lighter;
    color: red;
}
/*
.search-console-xbox{
    background-color: #107c10;
    text-align: center;
    border: 1px black solid;
}
.search-console-N64{
    background-color: #107c10;
    text-align: center;
    border: 1px black solid;
}
.search-console-PS4{
    background-color:#003a80;
    text-align: center;
    border: 1px black solid;
}
.search-console-PS3{
    background-color:#003a80;
    text-align: center;
    border: 1px black solid;
}
.search-console-PS2{
    background-color:#003a80;
    text-align: center;
    border: 1px black solid;
}
.search-console-PS1{
    background-color:#003a80;
    text-align: center;
    border: 1px black solid;
}

.search-console-WIIU{
    background-color:#0096c8;
    text-align: center;
    border: 1px black solid;
}
.search-console-WII{
    background-color:#0096c8;
    text-align: center;
    border: 1px black solid;
}
.search-console-SNES{
    background-color:#3c8d88;
    text-align: center;
    border: 1px black solid;
}
.search-console-NES{
    background-color:#3c8d88;
    text-align: center;
    border: 1px black solid;
}
.search-console-GBA{
    background-color:#551A8B;
    text-align: center;
    border: 1px black solid;
}
.search-console-GameCube{
    background-color:#551A8B;
    text-align: center;
    border: 1px black solid;
}
.search-console-GBC{
    background-color:#FF0000;
    text-align: center;
    border: 1px black solid;
}

.search-console-xbox label{
    font-size: 14px;
    color: white;

}
.search-console-SNES label{
    font-size: 14px;
    color: white;

}
.search-console-NES label{
    font-size: 14px;
    color: white;

}
.search-console-N64 label{
    font-size: 14px;
    color: white;

}
.search-console-WII label{
    font-size: 14px;
    color: white;

}
.search-console-PS4 label{
    font-size: 14px;
    color: white;

}
.search-console-PS3 label{
    font-size: 14px;
    color: white;

}
.search-console-PS2 label{
    font-size: 14px;
    color: white;

}
.search-console-PS1 label{
    font-size: 14px;
    color: white;

}
.search-console-WIIU label{
    font-size: 14px;
    color: white;

}
.search-console-GBA label{
    font-size: 14px;
    color: white;
}
.search-console-GameCube label{
    font-size: 14px;
    color: white;
}
.search-console-GBC label{
    font-size: 14px;
    color: white;
}*/
.search-image{
    border: black 3px solid;
    max-height: 195px;
}
.game-content{

    width: 80%;
    margin-left: 10%;
    margin-right: 10%;


 
}



.game-search {

   
}
.game-search input{
    height: 30px;

    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
.game-search input:focus {

}


.carousel-fade {
    .carousel-inner {
        .item {
            transition-property: opacity;
        }
        
        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }

    .carousel-control {
        z-index: 2;
    }

}
}



html, 
body, 
.carousel, 
.carousel-inner, 
.carousel-inner .item {
    height: 100%;

}



.game-slider{
    padding: 0;
    width: 100%;
  
}
.game-bimage{
     width: 100%;
}
.game-control{
     position: relative;
    top: 50%;
    transform: translateY(-50%); /* or try 50% */
}
.carousel-indicators li {
    background: #ccc;
    height: 25px;
    width: 15px;
}

.carousel-indicators .active {
    background: red;
    height: 25px;
    width: 15px;

}





/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Bree+Serif);

body {

	line-height: 32px;
	margin: 0;
	padding: 0;
	word-wrap:break-word !important;
	font-family: 'Open Sans', sans-serif;
	}



#container {
	margin: 0 auto;
	max-width: 890px;
}

p {
	text-align: center;
}

.toggle,
[id^=drop] {
	display: none;
}

 

#logo {
	display: block;
	padding: 0 30px;
	float: left;
	font-size:20px;
	line-height: 60px;
}

 


/* Media Queries
--------------------------------------------- */
.game-detail-front{
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    margin-top: 124px;
    margin-bottom: 90px;
    font-family: Fjalla;
}

.game-detail-text{
    margin-top: 60px;

}
.game-detail-image{
    margin-top: 30px;
    height: 300px;
}
.game-detail-title{
    margin-top: 30px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.game-detail-content{
    background-color: white;
    border: #E3D9D9 3px solid;
    margin-top: 12px;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,0.9);
    height: auto;
    padding-bottom: 20px;


}
.game-detail-body{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    margin-top: 20px;
    height: 120px;
    font-size: 20px;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;



}
.game-index-kind{
    margin-top:8px;
    margin-bottom:5px;
   font-weight: bold;
   font-size: 18px;
    background-color: black;
    border: darkred 3px solid;
    color: white;

}
.game-index-container{
    margin-top:18px;
    min-height: 529px;
    max-height: 529px;
    margin-bottom: -164px;
}
.game-index-imgcontainer{

}
.game-index-image{
    height:auto; width:auto;

     min-height: 243;
    max-height: 243;
}
.game-index-front{
    background-color: white;
    border: #E3D9D9 3px solid;

    box-shadow: 0 5px 20px 0 rgba(0,0,0,0.9);
   
}

@media only screen and (max-width: 500px) {
    .game-menu-container{
        margin-top: 0px;
    }
    nav ul ul ul li {

        top:0px;
        /* has to be the same number as the "width" of "nav ul ul li" */ 
        left:0px; 
    }
   -image{
    border: black 3px solid;
    max-height: 195px;
    margin-bottom: 5px;
}
.game-index-container{
    margin-top:10px;
    min-height: 529px;
    max-height: 529px;
    margin-bottom: -164px;
}
.game-index-imgcontainer{
    height:40%;

}
.game-index-image{
    height:100%; width:auto;
     min-height: 200px;
 
}
.game-index-front{
    background-color: white;
    border: #E3D9D9 3px solid;

    box-shadow: 0 5px 20px 0 rgba(0,0,0,0.9);
   
}

    .game-header-info label{

        font-size: 16px;
        color: white;
    }

    .game-logo{
    margin-top: 14px;


    }
    .game-banner{


    position: relative;    
    }
    .loadscreen{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color:rgba(0,0,0,0.9);
    z-index: 15;
    
}

#loading {
    position: absolute;
    top: 50%;
    margin-right: 35%;
    margin-left: 35%;
    height:auto;
    width:30%;
}
#loadingsvg {

    position: absolute;
    top: 59%;
    margin-right: 47%;
    margin-left: 47%;
    height:auto;
    width:6%;
}
}

*{margin:0;padding:0;text-decoration:none}
header{position:relative;width:100%;background:rgba(0,0,0,0.9);}
.logo{position:relative;z-index:123;padding:10px;font:22px verdana;color:#333;float:left;width:15%}
.logo a{color:#6DDB07;}
 
@media screen and (max-width:1000px){

    .checkcontainer{
        color: white;
        position:fixed;
        margin-top: 23%;
        display: block;
        z-index: 1;
    }

.filters-mobil
{
    font-size: 10px;
    color: white;
    margin-top: 1%;
    display: block;
    z-index: 1;

}
.filters-mobil p
{
    background-color:black;
    border: white 1px solid;
}
.filters{
    font-size: 7px;
    margin-top: -3px;
    display: none;
}
.filters p{
    font-size: 10px;
    margin-top: -3px;
    line-height: 14px;
    padding-left: 2;
    padding-right: 2;
    
}
.game-logo{
    position: relative;
    left: 44%;
    margin-left: -50px;

}
.game-logo img{

    max-width: 100px;
}
.game-menu{
    z-index: 1;
    width: 100%;
}
.margin-search{
    margin-top: 0px;
}
.game-header-info label{

    font-size: 10px;
    color: white;
}
        
nav ul ul{
    top:0;
    z-index: 1;
}
.logo{position:absolute;top:0;left: 0;width:100%;height:46px;text-align:center;padding:10px 0 0 0 ;float:none}
.logo2{display:none}
 
    

}

.loadscreen{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color:rgba(0,0,0,0.9);
    z-index: 15;
    
}

#loading {
    position: absolute;
    top: 50%;
    margin-right: 45%;
    margin-left: 45%;
    height:auto;
    width:10%;
}
#loadingsvg {

    position: absolute;
    top: 59%;
    margin-right: 47%;
    margin-left: 47%;
    height:auto;
    width:6%;
}


/*
  Set the color of the icon
*/
svg path,
svg rect{
  fill: #FF6700;
}
.game-search-btn{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: darkred;
    color: white;
    border: 3px solid black;
    padding-bottom: 3px; 
    padding-top: 3px;
    padding-left: 12px; 
    padding-right: 12px; 
    border-radius: 3px;
}

.game-search-btn:hover{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: black;
    color: white;
    border: 3px solid darkred;
    padding: 3px; 
    padding-bottom: 3px; 
    padding-top: 3px;
    padding-left: 12px; 
    padding-right: 12px; 
    border-radius: 3px;
}

.game-index-btn{


    margin-top: 10px;
    margin-bottom: 10px;
    background-color: black;
    color: white;
    border: 3px solid darkred;
    padding: 3px; 
    padding-bottom: 3px; 
    padding-top: 3px;
    padding-left: 12px; 
    padding-right: 12px; 
    border-radius: 3px;
     
}
.game-index-btn-selected{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: darkred;
    color: white;
    border: 3px solid black;
    padding-bottom: 3px; 
    padding-top: 3px;
    padding-left: 12px; 
    padding-right: 12px; 
    border-radius: 3px;
    box-shadow: 0 10px 25px 0 rgba(0,0,0,0.9); 
}

#modalBody{
    font-size: 18px;
}

#modalHead{
    text-align: center;
}

.menu-main-label{
    color: white;
    font-size: 18px;
    margin-top: 3px;
}

.footer-detail {
  position: absolute;
  bottom: 0;
  right: 0;
}


.game-related-container{
    margin-top:5px;
}
.game-related{
    background-color: white;
    border: black 2px solid;

    box-shadow: 0 3px 15px 0 rgba(0,0,0,0.9);  
}


.cursor{
    cursor:pointer;
}


@font-face {
    font-family: Fjalla;
    src: url(../fonts/FjallaOne-Regular.otf);
}


.supchecks {
    display:none;
    margin-left:3px;
     
}

.supchecks + label {
    text-align: center;
    color:black;
    font-size: 14;
    margin-bottom: -8px;
    
}

.supchecks + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-2px 10px 0 10px;
    vertical-align:middle;
    background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) left top no-repeat;
    cursor:pointer;
    
}

.supchecks:checked + label span {
    background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) -19px top no-repeat;
}

.checkcontainer{
    color: white;
    position:fixed;
    margin-top: 23%;
    z-index: 1;
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 7.3px 0;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 11.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: rgba(48, 113, 169, 0.78);
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0.9px 0.9px 1px #000031, 0px 0px 0.9px #00004b;
    border: 1.8px solid #00001e;
    height: 26px;
    width: 26px;
    border-radius: 15px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7.5px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: rgba(54, 126, 189, 0.78);
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 11.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: rgba(48, 113, 169, 0.78);
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 0.9px 0.9px 1px #000031, 0px 0px 0.9px #00004b;
    border: 1.8px solid #00001e;
    height: 26px;
    width: 26px;
    border-radius: 15px;
    background: #ffffff;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 11.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: rgba(42, 100, 149, 0.78);
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type=range]::-ms-fill-upper {
    background: rgba(48, 113, 169, 0.78);
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type=range]::-ms-thumb {
    box-shadow: 0.9px 0.9px 1px #000031, 0px 0px 0.9px #00004b;
    border: 1.8px solid #00001e;
    height: 26px;
    width: 26px;
    border-radius: 15px;
    background: #ffffff;
    cursor: pointer;
    height: 11.4px;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: rgba(48, 113, 169, 0.78);
  }
  input[type=range]:focus::-ms-fill-upper {
    background: rgba(54, 126, 189, 0.78);
  }
  

  main-nav {
    background: #3092c0;
    background-image: -webkit-gradient(linear, to bottom, to top, color-stop(0%, #3298c8), color-stop(100%, #2e8cb8));
    background-image: -webkit-linear-gradient(to bottom, #3298c8, #2e8cb8);
    background-image: -moz-linear-gradient(to bottom, #3298c8, #2e8cb8);
    background-image: -o-linear-gradient(to bottom, #3298c8, #2e8cb8);
    background-image: linear-gradient(to bottom, #3298c8, #2e8cb8);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  }
  
  .main-nav:after {
    clear: both;
    content: "\00a0";
    display: block;
    height: 0;
    font: 0px/0 serif;
    overflow: hidden;
  }
  
  .nav-brand {
    float: left;
    margin: 0;
  }
  
  .nav-brand a {
    display: block;
    padding: 10px 10px 10px 20px;
    color: #fff;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 22px;
    font-weight: normal;
    line-height: 29px;
    text-decoration: none;
  }
  
  #main-menu {
    clear: both;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    z-index: 1;
  }
  
  @media (min-width: 768px) {
    #main-menu {

      clear: none;
    }
  }
  
  
  /* Mobile menu top separator */
  
  #main-menu:before {
    content: '';
    display: block;
    height: 1px;
    font: 1px/1px sans-serif;
    overflow: hidden;
    background: #2e8cb8;
  }
  
  @media (min-width: 768px) {
    #main-menu:before {
      display: none;
    }
  }
  
  
  /* Mobile menu toggle button */
  
  .main-menu-btn {
    float: right;
    margin: 10px;
    position: relative;
    display: inline-block;
    width: 29px;
    height: 29px;
    text-indent: 29px;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  
  
  /* hamburger icon */
  
  .main-menu-btn-icon,
  .main-menu-btn-icon:before,
  .main-menu-btn-icon:after {
    position: absolute;
    top: 50%;
    left: 2px;
    height: 2px;
    width: 24px;
    background: #fff;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
  }
  
  .main-menu-btn-icon:before {
    content: '';
    top: -7px;
    left: 0;
  }
  
  .main-menu-btn-icon:after {
    content: '';
    top: 7px;
    left: 0;
  }
  
  
  /* x icon */
  
  #main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon {
    height: 0;
    background: transparent;
  }
  
  #main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon:before {
    top: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  #main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon:after {
    top: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  
  /* hide menu state checkbox (keep it visible to screen readers) */
  
  #main-menu-state {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
  }
  
  
  /* hide the menu in mobile view */
  
  #main-menu-state:not(:checked) ~ #main-menu {
    display: none;
  }
  
  #main-menu-state:checked ~ #main-menu {
    display: block;
  }
  
  @media (min-width: 768px) {
    /* hide the button in desktop view */
    .main-menu-btn {
      position: absolute;
      top: -99999px;
    }
    /* always show the menu in desktop view */
    #main-menu-state:not(:checked) ~ #main-menu {
      display: block;
    }
  }

  .game-shopcar-label{
    position: absolute;
    top: 0px;
    right: 0;
    margin-top: 5px;
    margin-right: 24px;
    height: 30px;
    width: 30px;
    color: white;
    background-color: darkred;
    border-radius: 15px;
    text-align: center;
    border: 2px solid white;
    font-size: 13px;
  }
  .game-shopcar-icon{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 34px;
    margin-right: 26px;
    height: 30px;
    width: 30px;
  }

  .game-list-shopcar{
    float: right;
    margin-top: -4px;
    width: 22px;
    height: 22px;
  }
  
  
