

body{
    margin-top: 149px;
    background-color: transparent;
}
html { 

background: url(../assets/b13.jpg) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
.game-header{
    background: rgba(0, 0, 0, 0.9);
    padding-bottom: 10px;
    border-bottom: 4px solid red;


}

.game-header-info label:hover{

 margin-right: 5px;
 margin-left: 5px;
 color: darkred;
}
.game-footer{
    background: rgba(0, 0, 0, 0.9);
    padding-top: 10px;
    border-top: 4px solid red;


}
.game-footer-text{
    color: white;

}
.game-footer-image{
    
    height: 40px;


}
.game-logo{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
 
}

.game-text{
    text-align: center;
}
.game-action{
    background-color: black;
    margin-left: -25px;
    width: 121%;
    height: 40px;
 
}

.game-action-label{

    color: white;
    text-align: center;
    
 
}

.game-precios-label{


    text-align: center;
    
 
}
.game-image{
    background-color: white;
    border: black 5px solid;
    width: 70%;
    margin-top: 12px;
    box-shadow: 0 5px 20px 0 rgba(255,255,255,0.9);
    height: 435px;


}



.game-action{
    background-color: black;
    margin-left: -25px;
    width: 121%;
    height: 40px;
 
}
.game-table{
    font-size: 14px;    
    text-align: center;
    margin-top: -8px;
    margin-bottom: -4px;
}
.game-table th{
    text-align: center;
    background-color: black;
    font-size: 12.5px;
    color: white;

}

.game-table td{
font-weight: bold;
font-size: 16px;
}
@media only screen and (min-width: 1150px) {
    .game-table{
       font-size: 11px;

    }
}
@media only screen and (max-width: 600px) {
    .game-table{
        margin-left: -6px;
    }
    body{
    margin-top: 180px;
    background-color: transparent;
    }

}
@media only screen and (min-width: 500px) {
    .dropdowns{
        padding-left: 184px;
    }
    .nav{
        margin-bottom: -40px !important;
    }
    .game-text{
        text-align: center;
        height: 53px;
    }
    .game-table-content{
        height: 50px;
    }
    .game-image-div{
        height: 300px;
    }
    .vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
    
    }
    .game-header-info label{
    margin-top: 3px;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 16px;
    color: white;
    }
    .game-banner{
    padding: 0;
    display: block;
    overflow: auto;
    z-index: 2;
    margin-top: 9.1%;
    
}
.game-search-container{
    margin-top: 9%;
    
}
.filters
{
    color: white;
    background-color:black;
    position:fixed;
    margin-top: 1%;
    z-index: 1;

}
.filters p
{
border: white 1px solid;
}

    .game-search-icon{
        width:24px; 
        height:27px;
    }
    .nav a {
        color: white;
        margin: 0px;
    }
    .game-header-info {
        margin-top: -18px;
        margin-bottom: -14px;
    }
    .search-stock-label{
        border: black 1px solid;
        margin-bottom: 2px;
    }

}
@media only screen and (max-device-width: 480px) {
    .dropdowns{
        padding-left: 0px;
    }
    .nav{
        margin-bottom: -0px;
    }
    .game-logo{
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 25%;
        margin-right:25%;
        width: 50%;

    }
    .game-search input{
        font-size: 44px !important;
        height: 96px !important;
    }
    .game-search-icon{
        width:60px; 
        height:84px;
    }
    .close-menu {
        position: absolute;
        top: 4px;
        right: 4px;
        width: 80px;
        height: 80px;
        z-index: 1;

    }
    .open-menu{
        position: absolute;
        top: 4px;
        right: 4px; 
        width: 80px;
        height: 80px;
        z-index: 1;


    }
    .dropdowns{
        width: 100%; 
        height: 100%; 
        margin: 0em;
        left: 0em; 
        top: 0em; 
        background: black;
        position: fixed;
        z-index: 1;
        font-size: 40px;
        text-align: center;
    }

    .game-banner{
    padding: 0;
    display: block;
    overflow: auto;
    z-index: 2;
    margin-top: 38%;
    
    }
    .filters
    {
        color: white;
        background-color:darkred;
        position:fixed;
        margin-top: 38%;
        z-index: 1;
    }
    body{
    margin-top: 256px;
    background-color: transparent;

    }
    .game-front{
        margin-top: 15px;
    }

    .game-header-info label{
        margin-top: 3px;
        margin-right: 5px;
        margin-left: 5px;
        font-size: 34px;
        color: white;
    }
    .game-table{
       font-size: 16px;
       margin-bottom: -4px;

    }
    .game-text{
        height: auto;
    }
    .game-text h4{
        font-weight: bold;
        font-size: 40px;
    }
    .game-table-content{
    height: auto;
    }
    .game-image-div{
        height: auto;
    }
    .game-image{
    background-color: white;
    border: black 5px solid;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 12px;
    box-shadow: 0 5px 20px 0 rgba(255,255,255,0.9);
    height: 1220px;

}
    .game-image img{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 1000px;

}
.game-table th{
   background-color: black;
   font-size: 40px;
   color: white;
}
.game-table td{
font-weight: bold;
font-size: 40px;
}
//---------------------------------------------

	nav ul li {
		display:block;
		width: 94%;
	}
	#logo {
		display: block;
		padding: 0;
		width: 100%;
		text-align: center;
		float: none;
	}

	nav {
		margin: 0;
	}

	/* Hide the navigation menu by default */
	/* Also hide the  */
	.toggle + a,
	.menu {
		display: none;
	}

	/* Stylinf the toggle lable */
	.toggle {
		display: block;
		background-color: #254441;
		padding:14px 20px;	
		color:#FFF;
		font-size:17px;
		text-decoration:none;
		border:none;
	}

	.toggle:hover {
		background-color: #000000;
	}

	/* Display Dropdown when clicked on Parent Lable */
	[id^=drop]:checked + ul {
		display: block;
	}

	/* Change menu item's width to 100% */
	nav ul li {
		display: block;
		width: 100%;
		}

	nav ul ul .toggle,
	nav ul ul a {
		padding: 0 40px;
	}

	nav ul ul ul a {
		padding: 0 80px;
	}

	nav a:hover,
 	nav ul ul ul a {
		background-color: #000000;
	}
  
	nav ul li ul li .toggle,
	nav ul ul a,
  nav ul ul ul a{
		padding:14px 20px;	
		color:#FFF;
		font-size:17px; 
	}
  
  
	nav ul li ul li .toggle,
	nav ul ul a {
		background-color: #212121; 
	}

	/* Hide Dropdowns by Default */
	nav ul ul {
		float: none;
		position:static;
		color: #ffffff;
		/* has to be the same number as the "line-height" of "nav a" */
	}
		
	/* Hide menus on hover */
	nav ul ul li:hover > ul,
	nav ul li:hover > ul {
		display: none;
	}
		
	/* Fisrt Tier Dropdown */
	nav ul ul li {
		display: block;
		width: 100%;
	}

	nav ul ul ul li {
		position: static;
		/* has to be the same number as the "width" of "nav ul ul li" */ 

	}



}


.search-text{
  
    padding: 3px;
    border-radius: 5px;
    text-align: center;
    font-size: 21px;
    color: black;
    font-weight: bold;
    text-align: center;
}
.search-action {
    background-color: black; 
    height: 25px;
    text-align: center;
 
}

.search-precios {
    background-color: white;
    height: 31px;
    text-align: center;
 
}

.search-action-label{

    color: white;
    text-align: center;
    font-size: 14px;
    
 
}

.search-precios-label{
    text-align: center;
    font-size: 14px;
  
 
}
.search-front{
    background-color: white;
    border: black 4px solid;

    margin-top: 12px;
    padding-bottom: 10px;
    padding-top: 10px;
    box-shadow: 0 5px 7px 0 rgba(255,255,255,1);
    transition: 0.3s;
    border-radius: 5px;



}
.search-console-xbox{
    background-color: #107c10;
    text-align: center;
    border: 1px black solid;
}
.search-console-xbox label{
    font-size: 14px;
    color: white;

}
.search-image{
    border: black 3px solid;
    max-height: 195px;
}
.game-content{

    width: 80%;
    margin-left: 10%;
    margin-right: 10%;


 
}



.game-search {

   
}
.game-search input{
    height: 40px;
    width: 103%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
.game-search input:focus {

}
.pacman{
width: 10%;
width: 40px;
height: 40px;
}
.ghostw{
width: 10%;
width: 40px;
height: 40px;
}

.carousel-fade {
    .carousel-inner {
        .item {
            transition-property: opacity;
        }
        
        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }

    .carousel-control {
        z-index: 2;
    }

}
}



html, 
body, 
.carousel, 
.carousel-inner, 
.carousel-inner .item {
    height: 100%;

}



.game-slider{
    padding: 0;
    width: 100%;
  
}
.game-bimage{
     width: 100%;
}
.game-control{
     position: relative;
    top: 50%;
    transform: translateY(-50%); /* or try 50% */
}
.carousel-indicators li {
    background: #ccc;
    height: 25px;
    width: 15px;
}

.carousel-indicators .active {
    background: red;
    height: 25px;
    width: 15px;

}





/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Bree+Serif);

body {

	line-height: 32px;
	margin: 0;
	padding: 0;
	word-wrap:break-word !important;
	font-family: 'Open Sans', sans-serif;
	}



#container {
	margin: 0 auto;
	max-width: 890px;
}

p {
	text-align: center;
}

.toggle,
[id^=drop] {
	display: none;
}

/* Giving a background-color to the nav container. */
nav { 
	margin:0;
	padding: 0;
	background-color: #254441;
    position: relative;
    z-index: 2;
}

#logo {
	display: block;
	padding: 0 30px;
	float: left;
	font-size:20px;
	line-height: 60px;
}

/* Since we'll have the "ul li" "float:left"
 * we need to add a clear after the container. */

nav:after {
	content:"";
	display:table;
	clear:both;
}

/* Removing padding, margin and "list-style" from the "ul",
 * and adding "position:reltive" */
nav ul {
	float: right;
	padding:0;
	margin:0;
	list-style: none;
	position: relative;
	}
	
/* Positioning the navigation items inline */
nav ul li {
	margin: 0px;
	display:inline-block;
	float: left;
	background-color: #254441;
	}

/* Styling the links */
nav a {
	display:block;
	padding:14px 20px;	
	color:#FFF;
	font-size:17px;
	text-decoration:none;
}


nav ul li ul li:hover { background: #000000; }

/* Background color change on Hover */
nav a:hover { 
	background-color: #000000; 
}

/* Hide Dropdowns by Default
 * and giving it a position of absolute */
nav ul ul {
	display: none;
	position: absolute; 
	/* has to be the same number as the "line-height" of "nav a" */
	top: 60px; 
}
	
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:inherit;
}
	
/* Fisrt Tier Dropdown */
nav ul ul li {
	width:170px;
	float:none;
	display:list-item;
	position: relative;
}

/* Second, Third and more Tiers	
 * We move the 2nd and 3rd etc tier dropdowns to the left
 * by the amount of the width of the first tier.
*/
nav ul ul ul li {
	position: relative;
	top:-60px;
	/* has to be the same number as the "width" of "nav ul ul li" */ 
	left:170px; 
}

	
/* Change ' +' in order to change the Dropdown symbol */
li > a:after { content:  ' +'; }
li > a:only-child:after { content: ''; }


/* Media Queries
--------------------------------------------- */


