<html ng-app="gcapp">
<head>
<meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<!-- CSS  -->
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/global.1.css">
<link rel="stylesheet" type="text/css" href="css/dropdowns.css">
<link rel="stylesheet" type="text/css" href="css/dropdowns-skin-discrete.css">
<link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">


<!-- JS Libs  -->
<script src="libs/jquery/jquery-3.2.1.min.js" ></script>
<script src="libs/bootstrap/bootstrap.min.js" ></script>
<script src="libs/angular/angular.min.js"></script>
<script src="libs/angular/angular-ui-router.min.js"></script>
<script src="libs/angular/angular-animate.min.js" ></script>
<script src="libs/angular/angular-sanitize.js"></script>
<script src="libs/angular/angular-touch.min.js" ></script>
<script src="libs/angular/ui-bootstrap-tpls-2.5.0.min.js" ></script>

<!-- Webpage JS  -->
<script src="js/gc.app.js" ></script>
<script src="js/gc.router.js" ></script> 
<script src="js/index/index.controller.js" ></script> 
<script src="js/listing/listing.controller.js" ></script> 
<script src="js/listing/listing.service.js" ></script>
<script src="js/detail/detail.controller.js" ></script> 
<script src="js/detail/detail.service.js" ></script>
<script src="js/search/search.controller.js" ></script> 

</head>

<header>
	
	<div class="col-md-12 col-xs-12 col-sm-12  game-header navbar-fixed-top" >
		<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 ">
			<div class="col-xs-6 col-sm-4 col-md-12 col-lg-12 col-xs-offset-3 col-sm-offset-4">
				<a href="http://localhost/gamecode/#!/index"><img src="assets/gamerscode-logo.png"  class="img-responsive game-logo" alt="Logo"></a>
			</div>
		</div>
	
	<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
		<a class="toggleMenu" href="#">Menu</a>
		<nav id='cssmenu'class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div id="head-mobile"></div>
			<div class="button"></div>
			<ul>
				<li><label class="menu-main-label">Venta</label></li>
				
				<li class='drop'  class="test"><a href="#">XBOX ONE</a>
					<ul>
						<li class='drop'><a href="search.html#!/index/With_Box/Xbox One/False">Juegos</a></li>
						<li class='drop'><a href="search.html#!/index/Good/Xbox One/False">Consola y Accesorios</a></li>
					</ul>
				</li>
				
				<li class='drop'><a href="#">PS4</a>
					<ul>
						<li class='drop'><a ui-sref="listing({kind:'With_Box', platform: 'PS4', classic: 'False'})">Juegos</a></li>
						<li class='drop'><a href="search.html#!/index/Good/PS4/False" >Consolas y Accesorios</a></li>
					</ul>
				</li>
				
				<li class='drop'><a href="#">WII U</a>
					<ul>
						<li class='drop'><a href="search.html#!/index/With_Box/WIIU/False" >Juegos</a></li>
						<li class='drop'><a href="search.html#!/index/Good/WIIU/False">Consolas y Accesorios</a></li>
					</ul>
				</li>
				
				<li class='drop'><a href="#">XBOX 360</a>
					<ul>
						<li class='drop'><a href="search.html#!/index/With_Box/Xbox 360/False" >Juegos</a></li>
						<li class='drop'><a href="search.html#!/index/Good/Xbox 360/False">Consolas y Accesorios</a></li>
					</ul>
				</li>
				
				<li class='drop'>
					<a href="#">PS3</a>
					<ul>
						<li class='drop'><a href="search.html#!/index/With_Box/PS3/False">Juegos</a></li>
						<li class='drop'><a href="search.html#!/index/Good/PS3/False">Consolas y Accesorios</a></li>
					</ul>
				</li>
				
				<li class='drop'>
					<a href="#">WII</a>
					<ul>
						<li class='drop'><a href="search.html#!/index/With_Box/WII/False" >Juegos</a></li>
						<li class='drop'><a href="search.html#!/index/Good/WII/False">Consolas y Accesorios</a></li>
					</ul>
				</li>
				
				<li class='drop'>
					<a href="#">RETRO</a>
					<ul>
						
						<li class='drop'><a href="#">XBOX</a>
							<ul>
								<li class='drop'><a href="search.html#!/index/With_Box/XBOX/False" >Juegos</a></li>
								<li class='drop'><a href="search.html#!/index/Good/XBOX/False">Consolas y Accesorios</a></li>
							</ul>
						</li>
						
						<li class='drop'><a href="#">PS2</a>
							<ul>
								<li class='drop'><a href="search.html#!/index/With_Box/PS2/False">Juegos</a></li>
								<li class='drop'><a href="search.html#!/index/Good/PS2/False" >Consolas y Accesorios</a></li>
							</ul>
						</li>
						
						<li class='drop'><a href="#">GAME CUBE</a>
							<ul>
								<li class='drop'><a href="search.html#!/index/With_Box/GameCube/False" >Juegos</a></li>
								<li class='drop'><a href="search.html#!/index/Good/GameCube/False" >Consolas y Accesorios</a></li>
							</ul>
						</li>
						
						<li class='drop'><a href="#">PS1</a>
							<ul>
								<li class='drop'><a href="search.html#!/index/With_Box/PS1/False" >Juegos</a></li>
								<li class='drop'><a href="search.html#!/index/Good/PS1/False">Consolas y Accesorios</a></li>
							</ul>
						</li>
						
						<li class='drop'><a href="#">N64</a>
							<ul>
								<li class='drop'><a href="search.html#!/index/Without_Box/N64/False">Juegos</a></li>
								<li class='drop'><a href="search.html#!/index/Good/N64/False" >Consolas y Accesorios</a></li>
							</ul>
						</li>
						
						<li class='drop'><a href="#">SUPER NES</a>
							<ul>
								<li class='drop'><a href="search.html#!/index/Without_Box/snes/False" >Juegos</a></li>
								<li class='drop'><a href="search.html#!/index/Good/snes/False">Consolas y Accesorios</a></li>
							</ul>
						</li>
						
						<li class='drop'><a href="#">NES</a>
							<ul>
								<li class='drop'><a href="search.html#!/index/Without_Box/nes/False" >Juegos</a></li>
								<li class='drop'><a href="search.html#!/index/Good/nes/False" >Consolas y Accesorios</a></li>
							</ul>
						</li>
						
						<li class='drop'><a href="#">GBA</a>
							<ul>
								<li class='drop'><a href="search.html#!/index/Without_Box/gba/False">Juegos</a></li>
								<li class='drop'><a href="search.html#!/index/Good/gba/False">Consolas y Accesorios</a></li>
		 				  </ul>
						</li>
						
						<li class='drop'><a href="#">GBC</a>
							<ul>
								<li class='drop'><a href="search.html#!/index/Without_Box/gbc/False" >Juegos</a></li>
								<li class='drop'><a href="search.html#!/index/Good/gbc/False">Consolas y Accesorios</a></li>
							</ul>
						</li>
					</ul>
				</li>
				
				<li class='drop'>
					<a href="#">CLASICOS</a>
					<ul>
						
						<li class='drop'><a href="#">GAMECUBE</a>
							<ul>
								<li class='drop'><a href="search.html#!/index/Good/GAMECUBE/True">Juegos</a></li>
							</ul>
						</li>
						
						<li class='drop'><a href="#">SUPER NES</a>
							<ul>
								<li class='drop'><a href="search.html#!/index/Good/snes/True" >Juegos</a></li>
							</ul>
						</li>
						
						<li class='drop'><a href="#">NES</a>
							<ul>
								<li class='drop'><a href="search.html#!/index/Good/nes/True">Juegos</a></li>
							</ul>
						</li>

						<li class='drop'><a href="#">N64</a>
							<ul><li class='drop'><a href="search.html#!/index/Good/n64/True">Juegos</a></li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
		</nav>

		<!-- Fin de Menú  -->
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<!-- Buscador  -->
			<div class='class="col-xs-10 col-sm-10 col-md-9 col-lg-9 col-md-offset-2 col-offset-lg-2 game-search' ng-controller="searchCtrl as vm" >
				<input type="text" ng-model="vm.asyncSelected" placeholder="Buscar..." uib-typeahead="games for games in vm.searchGames($viewValue) | limitTo:8" typeahead-loading="loadingLocations" typeahead-on-select="vm.gotoDetail()" typeahead-no-results="noResults" class="form-control">
				<i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
				<div ng-show="noResults">
					<i class="glyphicon glyphicon-remove"></i> No se encontraron resultados
				</div>
			</div>
			
			<div class="col-xs-2 col-sm-2 col-md-1 col-lg-1">
				<button type="button" class="btn btn-danger col-md-12"><i class="fa fa-search fa-2x" aria-hidden="true"></i></button>
			</div>
		</div>
		
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-md-offset-6 col-lg-6 col-lg-offset-6 game-header-info">
			<label class="  " data-toggle="modal" data-target="#myModal" ng-click="vm.showModal(1)">Sobre Gamer's Code</label>
			<label class=" " data-toggle="modal" data-target="#myModal" ng-click="vm.showModal(2)">Sucursales</label>
			<label class=" " data-toggle="modal" data-target="#myModal" ng-click="vm.showModal(3)">Contacto</label>
		</div>

	</div>
</div>
</header>

<body>
	<ui-view></ui-view>
</body>

<script type="text/javascript" src="libs/bootstrap/dropdowns.js"></script>
<script>
	$(".dropdowns").dropdowns();

	$(document).ready(function () {
		resize_header();
	})
$(window).resize(function(){
	resize_header();
});

function resize_header(){
	var header= $('.game-header').height()+10;
	// console.log(header);
	$('.game-banner').css('margin-top',header);
}


(function($) {
$.fn.menumaker = function(options) {  
 var cssmenu = $(this), settings = $.extend({
   format: "dropdown",
   sticky: false
 }, options);
 return this.each(function() {
   $(this).find(".button").on('click', function(){
     $(this).toggleClass('menu-opened');
     var mainmenu = $(this).next('ul');
     if (mainmenu.hasClass('open')) { 
       mainmenu.slideToggle().removeClass('open');
     }
     else {
       mainmenu.slideToggle().addClass('open');
       if (settings.format === "dropdown") {
         mainmenu.find('ul').show();
       }
     }
   });
   cssmenu.find('li ul').parent().addClass('has-sub');
multiTg = function() {
     cssmenu.find(".has-sub").prepend('<span class="submenu-button"></span>');
     cssmenu.find('.submenu-button').on('click', function() {
       $(this).toggleClass('submenu-opened');
       if ($(this).siblings('ul').hasClass('open')) {
         $(this).siblings('ul').removeClass('open').slideToggle();
       }
       else {
         $(this).siblings('ul').addClass('open').slideToggle();
       }
     });
   };
   if (settings.format === 'multitoggle') multiTg();
   else cssmenu.addClass('dropdown');
   if (settings.sticky === true) cssmenu.css('position', 'fixed');
resizeFix = function() {
  var mediasize = 1000;
     if ($( window ).width() > mediasize) {
       cssmenu.find('ul').show();
     }
     if ($(window).width() <= mediasize) {
       cssmenu.find('ul').hide().removeClass('open');
     }
   };
   resizeFix();
   return $(window).on('resize', resizeFix);
 });
  };
})(jQuery);

(function($){
$(document).ready(function(){
$("#cssmenu").menumaker({
   format: "multitoggle"
});
});
})(jQuery);



</script>
<!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3 class="modal-title" id="modalHead"><b>{{vm.modalHead}}</b></h3>
        </div>
        <div class="modal-body" id="modalBody">

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
      
    </div>
</html>