<html ng-app="gcapp">
<head>
<meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!--<base href="/">-->
<!-- CSS  -->
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/global.1.css">
<link rel="stylesheet" type="text/css" href="css/dropdowns.css">
<link rel="stylesheet" type="text/css" href="css/dropdowns-skin-discrete.css">
<link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="css/demo.css">
<link rel="stylesheet" href="css/rzslider.css">


<!-- JS Libs  -->
<script src="libs/jquery/jquery-3.2.1.min.js" ></script>
<script src="libs/bootstrap/bootstrap.min.js" ></script>
<script src="libs/angular/angular.min.js"></script>
<script src="libs/angular/angular-ui-router.min.js"></script>
<script src="libs/angular/angular-animate.min.js" ></script>
<script src="libs/angular/angular-sanitize.js"></script>
<script src="libs/angular/angular-touch.min.js" ></script>
<script src="libs/angular/ui-bootstrap-tpls-2.5.0.min.js"></script>
<script src="libs/angular/angular-cookies.js"></script>


<!-- Webpage JS  -->
<script src="js/gc.app.js" ></script>
<script src="js/gc.router.js" ></script> 
<script src="js/index/index.controller.js" ></script> 
<script src="js/index/modal.controller.js" ></script> 
<script src="js/listing/listing.controller.js" ></script> 
<script src="js/listing/listing.service.js" ></script>
<script src="js/detail/detail.controller.js" ></script> 
<script src="js/detail/detail.service.js" ></script>
<script src="js/search/search.controller.js" ></script> 
<script src="js/search/search.list.controller.js" ></script> 
<script src="js/rzslider.js"></script>

</head>

<header>
	
	<div class="col-md-12 col-xs-12 col-sm-12  game-header navbar-fixed-top" >
		<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 game-logo">

				<a ui-sref='index'><img src="img/resources/gamerscode-logo.png"  class="img-responsive " alt="Logo"></a>
			
		</div>
		<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 game-menu-container" >
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12  margin-search" ng-controller="searchCtrl as vm">
				<!-- Buscador  -->
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-md-offset-6 col-lg-6 col-lg-offset-6 game-header-info" ng-controller="modalCtrl as vm">
					<label class="  " data-toggle="modal" data-target="#myModal" ng-click="vm.showModal(1)">Sobre Gamer's Code</label>
					<label class=" " data-toggle="modal" data-target="#myModal" ng-click="vm.showModal(2)">Sucursales</label>
					<label class=" " data-toggle="modal" data-target="#myModal" ng-click="vm.showModal(3)">Contacto</label>
				</div>
				<div class='class="col-xs-12 col-sm-12 col-md-12 col-lg-12  game-search'  ng-keyup="vm.gotoDetail($event)">
					<input class="col-xs-8 col-sm-8 col-md-9 col-lg-9" type="text" ng-model="vm.asyncSelected"  placeholder="Buscar..." typeahead-focus-first="false" typeahead-editable="true" uib-typeahead="games for games in vm.searchGames($viewValue) | limitTo:8" typeahead-loading="loadingLocations" typeahead-min-length="4" typeahead-on-select="vm.gotoDetail($event,$listener = 1)" typeahead-no-results="noResults" class="form-control">
					<button type="button" class="btn btn-danger col-xs-2 col-sm-2 col-md-1 col-lg-1"  style="font-size: 8px;"><i class="fa fa-search fa-2x" aria-hidden="true"></i></button>
		
					<i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
					<div ng-show="noResults">
						<i class="glyphicon glyphicon-remove"></i> No se encontraron resultados
					</div>
				</div>
		
			</div>	

			
	<div class="col-xs-8 col-sm-8 col-md-offset-1 col-md-11 col-lg-offset-1 col-lg-11 game-menu">
		<a class="toggleMenu" href="#">Menu</a>
		<nav id='cssmenu'class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div id="head-mobile"></div>
			<div class="button"></div>
			<ul ng-controller="indexCtrl as vm">
				<li ><label data-toggle="modal" data-target="#myModal" ng-click="vm.showModal(4)"  class="menu-main-label">Venta</label></li>
					
				<li ng-repeat ="(key, value) in vm.menu" class='drop'  ><a href="#">{{key}}</a>
					<ul>
						<li ng-repeat ="(key2, value2) in vm.menu[key]" class='drop' ><a href="#">{{key2}}</a>
							<ul>
								<li class='drop' ng-repeat ="(key3, value3) in vm.menu[key][key2]"><a ui-sref="listing({kind:'Game', platform: 'Xbox One', classic: 'False'})">{{value3}}</a></li>								
							</ul>
						</li>
					</ul>
				</li>
				<!--<li class='drop'  class="test"><a href="#">XBOX</a>
					<ul>
						<li class='drop'  class="test"><a href="#">XBOX ONE</a>
							<ul>
								<li class='drop'><a ui-sref="listing({kind:'Game', platform: 'Xbox One', classic: 'False'})">Juegos</a></li>
								<li class='drop'><a ui-sref="listing({kind:'Accessory', platform: 'Xbox One', classic: 'False'})">Consola y Accesorios</a></li>
							</ul>
						</li>
						<li class='drop'  class="test"><a href="#">XBOX 360</a>
							<ul>
								<li class='drop'><a ui-sref="listing({kind:'Game', platform: 'Xbox 360', classic: 'False'})" >Juegos</a></li>
								<li class='drop'><a ui-sref="listing({kind:'Accessory', platform: 'Xbox 360', classic: 'False'})">Consolas y Accesorios</a></li>
							</ul>
						</li>
						<li class='drop'  class="test"><a href="#">XBOX</a>
							<ul>
								<li class='drop'><a ui-sref="listing({kind:'Game', platform: 'XBOX', classic: 'False'})" >Juegos</a></li>
								<li class='drop'><a ui-sref="listing({kind:'Accessory', platform: 'XBOX', classic: 'False'})">Consolas y Accesorios</a></li>
							</ul>
						</li>
					</ul>
				</li>
				
				<li class='drop'><a ui-sref="#">PlayStation</a>
					<ul>
						<li class='drop'><a ui-sref="#">PS4</a>
							<ul>
								<li class='drop'><a ui-sref="listing({kind:'Game', platform: 'PS4', classic: 'False'})">Juegos</a></li>
								<li class='drop'><a ui-sref="listing({kind:'Accessory', platform: 'PS4', classic: 'False'})" >Consolas y Accesorios</a></li>
							</ul>
						</li>
						<li class='drop'><a ui-sref="#">PS3</a>
							<ul>
								<li class='drop'><a ui-sref="listing({kind:'Game', platform: 'PS3', classic: 'False'})">Juegos</a></li>
								<li class='drop'><a ui-sref="listing({kind:'Accessory', platform: 'PS3', classic: 'False'})">Consolas y Accesorios</a></li>
							</ul>
						</li>
						<li class='drop'><a ui-sref="#">PS2</a>
							<ul>
								<li class='drop'><a ui-sref="listing({kind:'Game', platform: 'PS2', classic: 'False'})">Juegos</a></li>
								<li class='drop'><a ui-sref="listing({kind:'Accessory', platform: 'PS2', classic: 'False'})" >Consolas y Accesorios</a></li>
							</ul>
						</li>
						<li class='drop'><a ui-sref="#">PS1</a>
							<ul>
								<li class='drop'><a ui-sref="listing({kind:'Game', platform: 'PS1', classic: 'False'})" >Juegos</a></li>
								<li class='drop'><a ui-sref="listing({kind:'Accessory', platform: 'PS1', classic: 'False'})">Consolas y Accesorios</a></li>
							</ul>
						</li>
					</ul>
				</li>


				
				<li class='drop'><a ui-sref="#">NINTENDO</a>
					<ul>
						<li class='drop'><a ui-sref="#">SWITCH</a>
							<ul>
								<li class='drop'><a ui-sref="listing({kind:'Game', platform: 'Switch', classic: 'False'})" >Juegos</a></li>
								<li class='drop'><a ui-sref="listing({kind:'Accessory', platform: 'Switch', classic: 'False'})">Consolas y Accesorios</a></li>
							</ul>
						</li>
						<li class='drop'><a ui-sref="#">WII U</a>
							<ul>
								<li class='drop'><a ui-sref="listing({kind:'Game', platform: 'WIIU', classic: 'False'})" >Juegos</a></li>
								<li class='drop'><a ui-sref="listing({kind:'Accessory', platform: 'WIIU', classic: 'False'})">Consolas y Accesorios</a></li>
							</ul>
						</li>
						<li class='drop'><a ui-sref="#">WII</a>
							<ul>
								<li class='drop'><a ui-sref="listing({kind:'Game', platform: 'WII', classic: 'False'})" >Juegos</a></li>
								<li class='drop'><a ui-sref="slisting({kind:'Accessory', platform: 'WII', classic: 'False'})">Consolas y Accesorios</a></li>
							</ul>
						</li>
						<li class='drop'><a ui-sref="#">NDS3</a>
							<ul>
								<li class='drop'><a ui-sref="listing({kind:'Game', platform: 'n3ds', classic: 'False'})" >Juegos</a></li>
								<li class='drop'><a ui-sref="listing({kind:'Accessory', platform: 'n3ds', classic: 'False'})">Consolas y Accesorios</a></li>
							</ul>
						</li>
						<li class='drop'><a ui-sref="#">NDS</a>
							<ul>
								<li class='drop'><a ui-sref="listing({kind:'Game', platform: 'nds', classic: 'False'})" >Juegos</a></li>
								<li class='drop'><a ui-sref="listing({kind:'Accessory', platform: 'nds', classic: 'False'})">Consolas y Accesorios</a></li>
							</ul>
						</li>
						<li class='drop'><a ui-sref="#">GBA</a>
							<ul>
								<li class='drop'><a ui-sref="listing({kind:'Game', platform: 'gba', classic: 'False'})">Juegos</a></li>
								<li class='drop'><a ui-sref="listing({kind:'Accessory', platform: 'gba', classic: 'False'})">Consolas y Accesorios</a></li>
		 				  </ul>
						</li>
						<li class='drop'><a ui-sref="#">GBC</a>
							<ul>
								<li class='drop'><a ui-sref="listing({kind:'Game', platform: 'gbc', classic: 'False'})" >Juegos</a></li>
								<li class='drop'><a ui-sref="listing({kind:'Accessory', platform: 'gbc', classic: 'False'})">Consolas y Accesorios</a></li>
							</ul>
						</li>
						<li class='drop'><a ui-sref="#">GB</a>
							<ul>
								<li class='drop'><a ui-sref="listing({kind:'Game', platform: 'gb', classic: 'False'})" >Juegos</a></li>
								<li class='drop'><a ui-sref="listing({kind:'Accessory', platform: 'gb', classic: 'False'})">Consolas y Accesorios</a></li>
							</ul>
						</li>

					</ul>
				</li>
				
				<li class='drop'>
					<a ui-sref="#">RETRO</a>
					<ul>
					
						<li class='drop'><a ui-sref="#">Game Cube</a>
							<ul>
								<li class='drop'><a ui-sref="listing({kind:'Game', platform: 'GameCube', classic: 'True'})" >Juegos</a></li>
								<li class='drop'><a ui-sref="listing({kind:'Accessory', platform: 'GameCube', classic: 'False'})" >Consolas y Accesorios</a></li>
							</ul>
						</li>
						
					
						
						<li class='drop'><a ui-sref="#">N64</a>
							<ul>
								<li class='drop'><a ui-sref="listing({kind:'Game', platform: 'N64', classic: 'True'})">Juegos</a></li>
								<li class='drop'><a ui-sref="listing({kind:'Accessory', platform: 'N64', classic: 'False'})" >Consolas y Accesorios</a></li>
							</ul>
						</li>
						
						<li class='drop'><a ui-sref="#">SUPER NES</a>
							<ul>
								<li class='drop'><a ui-sref="listing({kind:'Game', platform: 'snes', classic: 'True'})" >Juegos</a></li>
								<li class='drop'><a ui-sref="listing({kind:'Accessory', platform: 'snes', classic: 'False'})">Consolas y Accesorios</a></li>
							</ul>
						</li>
						
						<li class='drop'><a ui-sref="#">NES</a>
							<ul>
								<li class='drop'><a ui-sref="listing({kind:'Game', platform: 'nes', classic: 'True'})" >Juegos</a></li>
								<li class='drop'><a ui-sref="listing({kind:'Accessory', platform: 'nes', classic: 'False'})" >Consolas y Accesorios</a></li>
							</ul>
						</li>
						
						
						
						
					</ul>
				</li>
				
				
				<li class='drop'>
					<a ui-sref="#">Sega</a>
					<ul>
						
						<li class='drop'><a ui-sref="#">Sega Genesis</a>
							<ul>
								<li class='drop'><a ui-sref="listing({kind:'Game', platform: 'Sega Genesis', classic: 'False'})" >Juegos</a></li>
								<li class='drop'><a ui-sref="listing({kind:'Accesory', platform: 'Sega Genesis', classic: 'False'})" >Consolas y Accesorios</a></li>
							</ul>
						</li>
						
						<li class='drop'><a ui-sref="#">Dreamcast</a>
							<ul>
									<li class='drop'><a ui-sref="listing({kind:'Game', platform: 'Dreamcast', classic: 'False'})" >Juegos</a></li>
								<li class='drop'><a ui-sref="listing({kind:'Accesory', platform: 'Dreamcast', classic: 'False'})" >Consolas y Accesorios</a></li>
							</ul>
						</li>
					</ul>
				</li>-->
			</ul>
		</nav>

		<!-- Fin de Menú  -->

	</ng-form>

	</div>

</div>

</div>
</header>

<body>
	<ui-view></ui-view>
</body>

<script type="text/javascript" src="libs/bootstrap/dropdowns.js"></script>
<script type="text/javascript" src="js/index/dropdown.options.js"></script>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
	<div class="modal-dialog modal-lg">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h3 class="modal-title" id="modalHead"></h3>
			</div>
			<div class="modal-body col-lg-12" >
					
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 modalBody no-sucursales"  >
						
				</div>
				
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 sucursales"  >
					
					<table class="table table-hover">

						<tbody>
							<tr>
								<td width="60%">
									<br>
									Sucursal Aguascalientes  <br>
									Avenida Madero 213-C <br>
									Colonia Centro <br>
									Servicio al Cliente: 449 265 8602 <br>
								</td>
								<td width="30%">
									<b>Lunes</b> 10am - 8pm <br>
									<b>Martes</b> 10am - 8pm  <br>
									<b>Miercoles</b> 10am - 8pm  <br>
									<b>Jueves</b> 10am - 8pm  <br>
									<b>Viernes</b> 10am - 8pm  <br>
									<b>Sabado</b> 10am - 8pm  <br>
									<b>Domingo</b> 11am - 6pm 
								</td>
							</tr>
							<tr>
								<td width="60%">
									<br>
									Sucursal Aguascalientes  <br>
									Centro Comercial Villasuncion <br>
									Local 15b <br>
									Servicio al Cliente: 449 265 8602	
								</td>
								<td width="30%">
										<b>Lunes</b> 10am - 9pm <br>
										<b>Martes</b> 10am - 9pm  <br>
										<b>Miercoles</b> 10am - 9pm  <br>
										<b>Jueves</b> 10am - 9pm  <br>
										<b>Viernes</b> 10am - 9pm  <br>
										<b>Sabado</b> 10am - 9pm  <br>
										<b>Domingo</b> 11am - 8pm 
								</td>
							</tr>
							<tr>
								<td width="60%">
									<br>
									Sucursal León  <br>
									Aquiles Serdan 241-C <br>
									Colonia Centro <br>
									Servicio al Cliente: 449 265 8602
									
								</td>
								<td width="30%">
										<b>Lunes</b> 10am - 8pm <br>
										<b>Martes</b> 10am - 8pm  <br>
										<b>Miercoles</b> 10am - 8pm  <br>
										<b>Jueves</b> 10am - 8pm  <br>
										<b>Viernes</b> 10am - 8pm  <br>
										<b>Sabado</b> 10am - 8pm  <br>
										<b>Domingo</b> 11am - 6pm 
								</td>
							</tr>	
							<tr>
								<td width="60%"><br>
									Sucursal León  <br>
									Plaza Fundadores Local 23 <br>
									Colonia Centro <br>
									Servicio al Cliente: 449 265 8602	
								</td>
								<td width="30%">
									<b>Lunes</b> 10:30am - 8pm <br>
									<b>Martes</b> 10:30am - 8pm  <br>
									<b>Miercoles</b> 10:30am - 8pm  <br>
									<b>Jueves</b> 10:30am - 8pm  <br>
									<b>Viernes</b> 10:30am - 8pm  <br>
									<b>Sabado</b> 10:30am - 8pm  <br>
									<b>Domingo</b> 11am - 4pm 
								</td>
							</tr>	
							<tr>
								<td width="60%">
									<br>
									Sucursal Zacatecas  <br>
									Ramon Lopez Velarde 521 <br>
									Colonia Centro <br>
									Servicio al Cliente: 449 265 8602
								</td>
								<td width="30%">
										<b>Lunes</b> 10am - 8pm <br>
										<b>Martes</b> 10am - 8pm  <br>
										<b>Miercoles</b> 10am - 8pm  <br>
										<b>Jueves</b> 10am - 8pm  <br>
										<b>Viernes</b> 10am - 8pm  <br>
										<b>Sabado</b> 10am - 8pm  <br>
										<b>Domingo</b> 11am - 6pm 
								</td>
							</tr>					
						</tbody>
					</table>
					
				</div>

				
				
				
				
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>
		
</html>







<ul ng-controller="indexCtrl as vm" class="ng-scope open" style="display: block;">
	<li><label data-toggle="modal" data-target="#myModal" ng-click="vm.showModal(4)" class="menu-main-label">Venta</label></li>
		
	<!-- ngRepeat: (key, value) in vm.menu --><li ng-repeat="(key, value) in vm.menu" class="drop ng-scope" style=""><a href="#" class="ng-binding">Xbox</a>
		<ul>
			<!-- ngRepeat: (key2, value2) in vm.menu[key] --><li ng-repeat="(key2, value2) in vm.menu[key]" class="drop ng-scope"><a href="#" class="ng-binding">Xbox 360</a>
				<ul>
					<!-- ngRepeat: (key3, value3) in vm.menu[key][key2] --><li class="drop ng-scope" ng-repeat="(key3, value3) in vm.menu[key][key2]"><a ui-sref="listing({kind:'Game', platform: 'Xbox One', classic: 'False'})" class="ng-binding" href="#!/listing">Juegos</a></li><!-- end ngRepeat: (key3, value3) in vm.menu[key][key2] --><li class="drop ng-scope" ng-repeat="(key3, value3) in vm.menu[key][key2]"><a ui-sref="listing({kind:'Game', platform: 'Xbox One', classic: 'False'})" class="ng-binding" href="#!/listing">Consolas</a></li><!-- end ngRepeat: (key3, value3) in vm.menu[key][key2] -->								
				</ul>
			</li><!-- end ngRepeat: (key2, value2) in vm.menu[key] --><li ng-repeat="(key2, value2) in vm.menu[key]" class="drop ng-scope"><a href="#" class="ng-binding">Xbox One</a>
				<ul>
					<!-- ngRepeat: (key3, value3) in vm.menu[key][key2] --><li class="drop ng-scope" ng-repeat="(key3, value3) in vm.menu[key][key2]"><a ui-sref="listing({kind:'Game', platform: 'Xbox One', classic: 'False'})" class="ng-binding" href="#!/listing">Juegos</a></li><!-- end ngRepeat: (key3, value3) in vm.menu[key][key2] --><li class="drop ng-scope" ng-repeat="(key3, value3) in vm.menu[key][key2]"><a ui-sref="listing({kind:'Game', platform: 'Xbox One', classic: 'False'})" class="ng-binding" href="#!/listing">Consolas</a></li><!-- end ngRepeat: (key3, value3) in vm.menu[key][key2] -->								
				</ul>
			</li><!-- end ngRepeat: (key2, value2) in vm.menu[key] -->
		</ul>
	</li><!-- end ngRepeat: (key, value) in vm.menu --><li ng-repeat="(key, value) in vm.menu" class="drop ng-scope"><a href="#" class="ng-binding">Play Statios</a>
		<ul>
			<!-- ngRepeat: (key2, value2) in vm.menu[key] --><li ng-repeat="(key2, value2) in vm.menu[key]" class="drop ng-scope"><a href="#" class="ng-binding">PS3</a>
				<ul>
					<!-- ngRepeat: (key3, value3) in vm.menu[key][key2] --><li class="drop ng-scope" ng-repeat="(key3, value3) in vm.menu[key][key2]"><a ui-sref="listing({kind:'Game', platform: 'Xbox One', classic: 'False'})" class="ng-binding" href="#!/listing">Juegos</a></li><!-- end ngRepeat: (key3, value3) in vm.menu[key][key2] --><li class="drop ng-scope" ng-repeat="(key3, value3) in vm.menu[key][key2]"><a ui-sref="listing({kind:'Game', platform: 'Xbox One', classic: 'False'})" class="ng-binding" href="#!/listing">Consolas</a></li><!-- end ngRepeat: (key3, value3) in vm.menu[key][key2] -->								
				</ul>
			</li><!-- end ngRepeat: (key2, value2) in vm.menu[key] --><li ng-repeat="(key2, value2) in vm.menu[key]" class="drop ng-scope"><a href="#" class="ng-binding">PS2</a>
				<ul>
					<!-- ngRepeat: (key3, value3) in vm.menu[key][key2] --><li class="drop ng-scope" ng-repeat="(key3, value3) in vm.menu[key][key2]"><a ui-sref="listing({kind:'Game', platform: 'Xbox One', classic: 'False'})" class="ng-binding" href="#!/listing">Juegos</a></li><!-- end ngRepeat: (key3, value3) in vm.menu[key][key2] --><li class="drop ng-scope" ng-repeat="(key3, value3) in vm.menu[key][key2]"><a ui-sref="listing({kind:'Game', platform: 'Xbox One', classic: 'False'})" class="ng-binding" href="#!/listing">Consolas</a></li><!-- end ngRepeat: (key3, value3) in vm.menu[key][key2] -->								
				</ul>
			</li><!-- end ngRepeat: (key2, value2) in vm.menu[key] --><li ng-repeat="(key2, value2) in vm.menu[key]" class="drop ng-scope"><a href="#" class="ng-binding">PS4</a>
				<ul>
					<!-- ngRepeat: (key3, value3) in vm.menu[key][key2] --><li class="drop ng-scope" ng-repeat="(key3, value3) in vm.menu[key][key2]"><a ui-sref="listing({kind:'Game', platform: 'Xbox One', classic: 'False'})" class="ng-binding" href="#!/listing">Juegos</a></li><!-- end ngRepeat: (key3, value3) in vm.menu[key][key2] -->								
				</ul>
			</li><!-- end ngRepeat: (key2, value2) in vm.menu[key] -->
		</ul>
	</li><!-- end ngRepeat: (key, value) in vm.menu -->
	
</ul>