<div class="row col-md-2  filters"  id="game-filters">   
       <p data-orderby="price" class="filter-button">Precio Menor <i class="fa fa-caret-down" aria-hidden="true"></i></p>
       <p data-orderby="price" class="filterDesc-button">Precio Mayor <i class="fa fa-caret-down" aria-hidden="true"></i></p>
       <p data-orderby="platform" class="filter-button subfilter-button">Consola <i class="fa fa-caret-down" aria-hidden="true"></i></p>
       <p data-orderby="name" class="filter-button">Titulo <i class="fa fa-caret-down" aria-hidden="true"></i></p>
                         
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 game-banner">
  
   <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 " ng-repeat="game in vm.gamesObj | limitTo: vm.limit | orderBy:vm.predicate:reverse">
    
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 " >
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 search-front" >
        
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3">
          <img src="assets/{{game.ID_Info}}.jpg" class="img-responsive search-image" alt="Image">
        </div>
        
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
					  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 search-console-xbox">
                <label>{{game.Platform}}</label>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                <a ui-sref="detail({id:{{game.ID_Info}}})"><h4 class="search-text">{{game.Name}}</h4></a>
            </div>
              <div class="search-action col-md-12">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                  <label class="search-action-label ">Venta</label>
                  
                </div>

                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                  <label class="search-action-label  ">Compra</label>

                </div>

                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                  <label class="search-action-label "  >Intercambio</label>
        
                </div>  
                </div>
                <div class="search-precios search-stock-label col-md-12 ">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                      <label class="search-precios-label ">{{game.price_s}}</label>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                      <label class="search-precios-label  "> {{game.price_p}}</label>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                      <label class="search-precios-label "  >{{game.price_e}}</label>
                    </div>  
                </div> 

              <div class="search-action col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xs-offset-4 col-sm-offset-4 col-md-offset-4 col-lg-offset-4">
                  <label class="search-action-label ">En stock</label>
              </div>
              <div class="search-precios search-stock-label col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xs-offset-4 col-sm-offset-4 col-md-offset-4 col-lg-offset-4">
                  <label class=" ">{{game.Quantity}}</label>
              </div> 
        </div>
      </div>       
    </div>

	</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<button ng-hide="vm.limit >= vm.gamesObj.length" class=" game-search-btn center-block" ng-click="vm.limit = vm.limit +25">Cargar más</button>
		</div>
</div>