
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 game-detail-front game-banner ">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 game-detail-content" >
        <div  class="col-xs-12 col-sm-12 col-md-4 col-lg-4" >
         <img src="img/products/{{vm.gameId}}.jpg"  class="img-responsive game-detail-image"  alt="Image">
        </div>
 
              <!--  <p class="game-detail-body">
                    Grand Theft Auto V (abreviado como GTA V o GTA5) es un videojuego de 
                    acción-aventura de mundo abierto desarrollado por la compañía británica 
                    Rockstar North y distribuido por Rockstar Games. Fue lanzado el 17 de 
                    septiembre de 2013 para las consolas PlayStation 3 y Xbox 360.
                        Grand Theft Auto V (abreviado como GTA V o GTA5) es un videojuego de 
                    acción-aventura de mundo abierto desarrollado por la compañía británica 
                    Rockstar North y distribuido por Rockstar Games. Fue lanzado el 17 de 
                    septiembre de 2013 para las consolas PlayStation 3 y Xbox 360.
                </p>-->
                
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 game-detail-text">
                    
                
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                    <label  class="search-detail-title">{{vm.gameDetail.detail.Name}}</label>
                    <br>
                </div>
                

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 " >
                    <label class="search-detail-text">{{vm.gameDetail.detail.Platform}}</label>
                </div>
                <div class="game-table-content col-xs-12 col-sm-12 col-md-12 col-lg-12" >   
                    <label class="search-detail-text">Precio de venta </label><br><label class="search-detail-price" > $ {{vm.gameDetail.detail.Sale}}</label>
                    
                    <br>
                    <button class=" game-search-btn center-block  pull-right" style="width:200px;"  data-toggle="modal" data-target="#myStock" >Ver stock</button>
                </div>
                </div>
            </div>

            <div ng-if = "!vm.relatedSearch == ''" class="col-xs-12 col-sm-12 col-md-8 col-lg-8  col-md-offset-2 col-lg-offset-2 text-center game-index-kind"  >
                <label class="">Juegos relacionados</label>
            </div>
           
            <!-- {{related}} - {{vm.relatedGames[$index]}} -->
            <div   class="col-xs-12 col-sm-12 col-md-12 col-lg-12 game-related-container">
                <div ng-repeat="related in vm.related" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 " style="height:200px">
                        <a ui-sref="detail({id:{{related}},kind: 'With_Box' })">                
                    <img ng-src="img/products/{{related}}.jpg" onerror="this.src='http://cdn.2020prosoftware.com/installations/common/img/image-not-found.png'" class="img-responsive center-block game-related"  alt="Image" style="max-height:200px; min-height:200px;" ></a>
                    {{vm.relatedNames[$index]}}
                </div>   

            </div>


        <!--  TERMINO JUEGOS RELACIONADOS -->



            







      </div>
</div>

<!-- Modal Stock -->
  <div class="modal fade" id="myStock" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>

        </div>
        <div class="modal-body" >
             <table class="table game-table table-hover" style="border:gray">
                <thead >
                    <th    style="background-color:darkred; font-size:13px; ">
                        Sucursal
                    </th>
                    <th    style="background-color:darkred; font-size:13px; ">
                        En stock
                    </th>
                </thead>
                <tbody>
                    <tr >
                        <th ng-hide= "vm.gameDetail.ags == 'Sin Stock'" >Aguascalientes</th>
                        <td ng-hide= "vm.gameDetail.ags ==  'Sin Stock'">En Stock</td>
                    </tr>
                    <tr>
                        <th ng-hide= "vm.gameDetail.ags_south ==  'Sin Stock'" >Aguascalientes Sur</th> 
                        <td ng-hide= "vm.gameDetail.ags_south ==  'Sin Stock'">En Stock</td>
                    </tr>
                    <tr>
                        <th ng-hide= "vm.gameDetail.zcs ==  'Sin Stock'">Zacatecas</th>
                        
                        <td ng-hide= "vm.gameDetail.zcs ==  'Sin Stock'">En Stock</td>
                       
                    </tr>
                    <tr>
                        <th ng-hide= "vm.gameDetail.leon ==  'Sin Stock'">Leon</th>
                        <td ng-hide= "vm.gameDetail.leon ==  'Sin Stock'">En Stock</td>
                    </tr>
                    <tr>
                        <th ng-hide= "vm.gameDetail.fund ==  'Sin Stock'">Leon fundadores</th>
                        <td ng-hide ="vm.gameDetail.fund ==  'Sin Stock'">En Stock</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
      
    </div>

    <script>
       
    </script>
    

