<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 game-banner" >
    <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
            <li  data-target="#carousel" data-slide-to="0" class="active"></li>
            <li ng-repeat = "i in vm.imagesS | limitTo:(1-vm.imagesS.length)" data-target="#carousel" data-slide-to="1"></li>
        </ol>
        <!-- Carousel items -->
        <div class="carousel-inner">
            
            <div class="active item game-slider"> 
                <img src="img/slider/{{vm.secondone}}" class="img-responsive game-bimage" alt="Logo">
            </div>
            <div class="item game-slider" ng-repeat="img in vm.imagesS | limitTo: (1 - vm.imagesS.length)"> 
                    <img src="img/slider/{{img}}" class="img-responsive game-bimage" alt="Logo">
            </div>
            
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#carousel" data-slide="prev"><img src="img/resources/left-control.png" width="50px" height="50px" class="game-control"></a>
        <a class="carousel-control right" href="#carousel" data-slide="next"><img src="img/resources/right-control.png" width="50px" height="50px" class="game-control"></a>
    </div>

</div>    
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">

        <div  class="text-center">
    <button   ng-class=" vm.idiv == 0 ? 'game-index-btn' : 'game-index-btn-selected'" ng-click="vm.div(0);">Los más buscados</button>
    <button  ng-class="vm.idiv == 1 ? 'game-index-btn' : 'game-index-btn-selected'" ng-click="vm.div(1);">Los más vendidos</button>
    </div>
</div>
                                        <!-- LOS MAS BUSCADOS -->

<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10  col-md-offset-1 col-lg-offset-1" style="
    margin-bottom: 107px;" ng-if="vm.idiv==0">
    
    <div ng-repeat="todo in vm.todos" repeat-done="foo()" class="col-xs-12 col-sm-6 col-md-6 col-lg-3 game-index-container" >
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 game-index-front">
           
            <a ui-sref="detail({id:{{todo.ID_Info}},kind: 'With_Box' })">
        <div  class=" game-index-imgcontainer"   >
          <img ng-src="img/products/{{todo.ID_Info}}.jpg" onerror="this.src='img/resources/image-not-found.png'"  class="img-responsive game-index-image center-block"    alt="Image"> 
        </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center" >
                <label class=" game-table-title">{{vm.getName(todo.Name)}}</label>
            </div></a>
            <div class="" >
            <table class="table game-table   table-hover">
                    <thead>
                      <tr>
                        
                        <th>VENTA</th>
                        
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                      
                        <td>$ {{todo.Sale}} <div ><img src="img/resources/shop-car.png"  class="img-responsive game-list-shopcar" ng-click="sc.addToCar(todo)"></div></td>
                        
                      </tr>
                    </tbody>
              </table>
              </div>
  

          </div>
      </div>
	     
 
  </div>

                                            <!-- LOS MAS VENDIDOS -->

  <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10  col-md-offset-1 col-lg-offset-1" style="
  margin-bottom: 107px;" ng-if="vm.idiv==1">
  
  <div ng-repeat="top in vm.topten" repeat-done="foo()" class="col-xs-12 col-sm-6 col-md-6 col-lg-3 game-index-container" >
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 game-index-front">
            
          <a ui-sref="detail({id:{{top.ID_Info}},kind: 'With_Box' })">
      <div  class=" game-index-imgcontainer"   >
        <img ng-src="img/products/{{top.ID_Info}}.jpg" onerror="this.src='img/resources/image-not-found.png'"  class="img-responsive game-index-image center-block"    alt="Image"> 
      </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center" >
              <label class=" game-table-title">{{vm.getName(top.Name)}}</label>
          </div></a>
          <div class="" >
          
            </div>

        </div>
    </div>
       

</div>



<div class="loadscreen" ng-show="vm.loading">
	<img id="loading" src="img/resources/gamerscode-logo.png" class=""  >
  <img id="loadingsvg" src="img/resources/spin2.svg" />
</div>

<footer style="margin-top:20px" >

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 game-footer">
  <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 ">
      
      <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2">
        <img src="img/resources/gamerscode-logo.png" class="img-responsive game-footer-image" alt="Logo">
      </div>
      
      <div class="col-xs-8 col-sm-8 col-md-10 col-lg-10">
        <p class="game-footer-text">gamer's code ® 2017 | Todo el contenido mostrado en esta página es propiedad de sus respectivos autores</p>
      </div>
      



</footer>